Repository remvze/moodist: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, tsc-files --noEmit, prettier --write, stylelint --fix

chore: add Husky
  .husky/pre-commit
  package-lock.json
  package.json
Due: prettier --write

chore: add Commitlint
  .commitlintrc.json
  .husky/commit-msg
  package-lock.json
  package.json
Due: prettier --write

chore: add Commitizen
  .czrc
  package-lock.json
  package.json
Due: prettier --write

chore: add Standard Version
  .versionrc.json
  package-lock.json
  package.json
Due: prettier --write

chore: add path alias
  .eslintrc.json
  package-lock.json
  package.json
  src/pages/index.astro
  tsconfig.json
Due: eslint --fix, prettier --write, stylelint --fix

chore: add PostCSS
  package-lock.json
  package.json
  postcss.config.cjs
Due: prettier --write

chore(release): 0.0.1
  CHANGELOG.md
Due: prettier --write

style: add base and global styles
  public/fonts/fraunces-v31-latin-600.woff2
  public/fonts/inter-tight-v7-latin-600.woff2
  public/fonts/inter-v13-latin-regular.woff2
  src/layouts/layout.astro
  src/styles/base/base.css
  src/styles/fonts.css
  src/styles/global.css
  src/styles/variables/color.css
  src/styles/variables/index.css
  src/styles/variables/typography.css
Due: eslint --fix, stylelint --fix

feat: add hero section
  public/faded-logo.svg
  src/components/container/container.module.css
  src/components/container/container.tsx
  src/components/container/index.ts
  src/components/hero/hero.module.css
  src/components/hero/hero.tsx
  src/components/hero/index.ts
  src/env.d.ts
  src/pages/index.astro
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: add gradient line decoration
  src/components/gradient/gradient.module.css
  src/components/gradient/gradient.tsx
  src/components/gradient/index.ts
  src/pages/index.astro
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

style: reverse gradient line
  src/components/gradient/gradient.module.css
Due: stylelint --fix

feat: add basic categories
  .lintstagedrc.json
  package-lock.json
  package.json
  src/components/Card.astro
  src/components/categories/categories.tsx
  src/components/categories/index.ts
  src/components/category/category.module.css
  src/components/category/category.tsx
  src/components/category/index.ts
  src/components/hero/hero.module.css
  src/data/sounds.json
  src/helpers/styles.ts
  src/pages/index.astro
Due: eslint --fix, tsc-files --noEmit, prettier --write, stylelint --fix

feat: add basic sound components
  .eslintrc.json
  src/components/category/category.tsx
  src/components/sound/index.ts
  src/components/sound/sound.module.css
  src/components/sound/sound.tsx
  src/components/sounds/index.ts
  src/components/sounds/sounds.module.css
  src/components/sounds/sounds.tsx
Due: eslint --fix, tsc-files --noEmit, prettier --write, stylelint --fix

style: remove extra colors
  src/components/categories/categories.tsx
  src/components/category/category.module.css
  src/components/category/category.tsx
  src/components/hero/hero.module.css
  src/components/sound/sound.module.css
  src/components/sound/sound.tsx
  src/components/sounds/sounds.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

style: remove gradient line
  src/components/gradient/gradient.module.css
  src/components/gradient/gradient.tsx
  src/components/gradient/index.ts
  src/pages/index.astro
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

style: change spacing
  src/components/category/category.module.css
  src/components/hero/hero.module.css
  src/components/sound/sound.module.css
  src/pages/index.astro
Due: eslint --fix, stylelint --fix

refactor: change data file structure
  src/components/categories/categories.tsx
  src/data/sounds.json
  src/data/sounds.ts
  src/pages/index.astro
Due: eslint --fix, tsc-files --noEmit, prettier --write, stylelint --fix

feat: add basic audio player
  src/components/sound/sound.tsx
  src/components/sounds/sounds.tsx
  src/hooks/use-sound.ts
  src/hooks/use-ssr.ts
Due: eslint --fix, tsc-files --noEmit

feat: add play button
  src/components/categories/categories.tsx
  src/components/play-button/index.ts
  src/components/play-button/play-button.module.css
  src/components/play-button/play-button.tsx
  src/components/sound/sound.tsx
  src/contexts/play.tsx
  src/pages/index.astro
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

style: add wrap balancer to desc
  package-lock.json
  package.json
  src/components/hero/hero.module.css
  src/components/hero/hero.tsx
Due: eslint --fix, tsc-files --noEmit, prettier --write, stylelint --fix

style: change label cursor
  src/components/sound/sound.module.css
Due: stylelint --fix

fix: fix icon imports
  src/components/categories/categories.tsx
  src/components/play-button/play-button.tsx
Due: eslint --fix, tsc-files --noEmit

style: relocate the play button
  src/components/categories/categories.tsx
  src/components/play-button/play-button.module.css
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

style: fix margins
  src/components/hero/hero.module.css
  src/components/play-button/play-button.module.css
Due: stylelint --fix

style: fix z-index
  src/components/play-button/play-button.module.css
Due: stylelint --fix

fix: add aria labels
  src/components/sound/sound.tsx
Due: eslint --fix, tsc-files --noEmit

feat: add local storage support
  src/components/sound/sound.tsx
  src/hooks/use-local-storage.ts
Due: eslint --fix, tsc-files --noEmit

feat: add auto play on select
  src/components/sound/sound.tsx
  src/contexts/play.tsx
Due: eslint --fix, tsc-files --noEmit

feat: add icon for sounds
  src/components/categories/categories.tsx
  src/components/category/category.tsx
  src/components/sound/sound.module.css
  src/components/sound/sound.tsx
  src/components/sounds/sounds.tsx
  src/data/sounds.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

style: increase padding
  src/components/sound/sound.module.css
Due: stylelint --fix

style: change icon color on selection
  src/components/sound/sound.module.css
Due: stylelint --fix

style: add more icons
  src/components/sound/sound.module.css
  src/data/sounds.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: add more and less button for sounds
  src/components/category/category.tsx
  src/components/sound/sound.module.css
  src/components/sound/sound.tsx
  src/components/sounds/sounds.module.css
  src/components/sounds/sounds.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: add hidden selection indicator
  src/components/sound/sound.tsx
  src/components/sounds/sounds.module.css
  src/components/sounds/sounds.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: implement basic Zustand store
  package-lock.json
  package.json
  src/components/categories/categories.tsx
  src/components/category/category.tsx
  src/components/sound/sound.tsx
  src/components/sounds/sounds.tsx
  src/components/store-consumer/index.ts
  src/components/store-consumer/store-consumer.tsx
  src/data/sounds.tsx
  src/pages/index.astro
  src/store/index.ts
  src/store/sound/index.ts
  src/store/sound/sound.actions.ts
  src/store/sound/sound.state.ts
Due: eslint --fix, tsc-files --noEmit, prettier --write, stylelint --fix

feat: add auto pause to play button
  src/components/play-button/play-button.tsx
  src/store/sound/sound.state.ts
Due: eslint --fix, tsc-files --noEmit

refactor: seperate range input
  src/components/sound/range/index.ts
  src/components/sound/range/range.module.css
  src/components/sound/range/range.tsx
  src/components/sound/sound.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

style: increase sounds per row
  src/components/container/container.module.css
  src/components/sounds/sounds.module.css
  src/components/sounds/sounds.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

style: widen the container
  src/components/container/container.module.css
Due: stylelint --fix

Path conditions:
  eslint --fix: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.astro)
  tsc-files --noEmit: any of: *.{ts,tsx}
  prettier --write: (any of: *.{json,md}) or (any of: *.html)
  stylelint --fix: ((any of: *.css) or (any of: *.astro)) or (any of: *.html)
