Repository remvze/moodist: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, tsc-files --noEmit, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "tsc-files --noEmit"],
  "*.{js,jsx}": "eslint --fix",
  "*.{json,md}": "prettier --write",
  "*.css": "stylelint --fix",
  "*.astro": ["eslint --fix", "stylelint --fix"],
  "*.html": ["prettier --write", "stylelint --fix"]
}

feat: add platform abstraction layer for native/web compatibility
  src/lib/platform/index.ts
  src/lib/platform/notifications.ts
Due: eslint --fix, tsc-files --noEmit

feat: configure iOS native app for background audio
  ios/App/App.xcodeproj/project.pbxproj
  ios/App/App.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  ios/App/App.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  ios/App/App/AppDelegate.swift
  ios/App/App/Base.lproj/LaunchScreen.storyboard
  ios/App/App/Info.plist
  ios/App/CapApp-SPM/.gitignore
  ios/App/CapApp-SPM/Package.swift
  ios/App/CapApp-SPM/README.md
  ios/App/CapApp-SPM/Sources/CapApp-SPM/CapApp-SPM.swift
  ios/debug.xcconfig
Due: prettier --write

refactor: update hooks and helpers to use platform abstraction
  src/hooks/use-app-state.ts
Due: eslint --fix, tsc-files --noEmit

feat: add timer sync and local notifications for background support
  src/components/modals/sleep-timer/sleep-timer.tsx
  src/components/toolbox/countdown/countdown.tsx
  src/components/toolbox/pomodoro/pomodoro.tsx
Due: eslint --fix, tsc-files --noEmit

feat: adapt UI for native platforms
  src/components/buttons/play/play.tsx
  src/components/buttons/unselect/unselect.tsx
  src/components/toolbar/menu/item/item.module.css
  src/components/toolbar/menu/item/item.tsx
  src/components/toolbar/menu/items/binaural.tsx
  src/components/toolbar/menu/items/isochronic.tsx
  src/components/toolbar/menu/menu.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: add native platform notes and share functionality
  src/components/modals/binaural/binaural.module.css
  src/components/modals/binaural/binaural.tsx
  src/components/modals/isochronic/isochornic.module.css
  src/components/modals/isochronic/isochronic.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

fix: add error handling for async download function
  src/components/toolbox/notepad/notepad.tsx
Due: eslint --fix, tsc-files --noEmit

chore: remove CocoaPods (Capacitor v8 uses Swift Package Manager)
  ios/App/Podfile
  ios/App/Podfile.lock
Due: none

chore: enhance iOS project configuration and documentation
  .gitignore
  DEVELOPMENT.md
  ios/.gitignore
  ios/App/App.xcodeproj/project.pbxproj
  ios/App/App.xcworkspace/contents.xcworkspacedata
  ios/App/App.xcworkspace/xcshareddata/swiftpm/Package.resolved
  ios/App/App/Info.plist
  ios/README.md
  ios/release.xcconfig
Due: prettier --write

feat: enhance audio handling and configuration for native platforms
  capacitor.config.ts
  ios/App/App/AppDelegate.swift
  ios/App/CapApp-SPM/Package.resolved
  ios/App/CapApp-SPM/Package.swift
  package-lock.json
  package.json
  src/components/app/app.tsx
  src/components/toolbar/menu/menu.tsx
  src/hooks/use-sound.ts
  src/lib/audio/native-audio-service.ts
  src/lib/platform/index.ts
Due: eslint --fix, tsc-files --noEmit, prettier --write

Revert "feat: enhance audio handling and configuration for native platforms"
  capacitor.config.ts
  ios/App/App/AppDelegate.swift
  ios/App/CapApp-SPM/Package.resolved
  ios/App/CapApp-SPM/Package.swift
  package-lock.json
  package.json
  src/components/app/app.tsx
  src/components/toolbar/menu/menu.tsx
  src/hooks/use-sound.ts
  src/lib/audio/native-audio-service.ts
  src/lib/platform/index.ts
Due: eslint --fix, tsc-files --noEmit, prettier --write

feat: improve native platform handling and UI adjustments
  src/components/app/app.tsx
  src/components/sounds/sound/sound.tsx
  src/components/toolbar/menu/menu.tsx
  src/lib/platform/audio.ts
Due: eslint --fix, tsc-files --noEmit

add contribution and readme
  CONTRIBUTING.md
  README.md
Due: prettier --write

docs: enhance tech stack details in README
  README.md
Due: prettier --write

docs: credit original Moodist project and clarify fork relationship
  README.md
Due: prettier --write

feat: add toggle for favorites auto-jump behavior
  src/components/sounds/sound/favorite/favorite.tsx
  src/components/toolbar/menu/items/favorite-scroll.tsx
  src/components/toolbar/menu/items/index.ts
  src/components/toolbar/menu/menu.tsx
  src/stores/sound/index.ts
  src/stores/sound/sound.actions.ts
  src/stores/sound/sound.state.ts
Due: eslint --fix, tsc-files --noEmit

chore: switch to pnpm
  Dockerfile
  package-lock.json
  pnpm-lock.yaml
Due: prettier --write

chore: remove Vitest
  package.json
  pnpm-lock.yaml
  src/helpers/tests/counter.test.ts
  src/helpers/tests/number.test.ts
  src/helpers/tests/random.test.ts
  src/helpers/tests/styles.test.ts
  src/helpers/tests/wait.test.ts
  src/lib/tests/motion.test.ts
  vitest.config.ts
Due: eslint --fix, tsc-files --noEmit, prettier --write

chore: remove Storybook
  .eslintrc.json
  .gitignore
  .storybook/main.ts
  .storybook/preview.ts
  package.json
  pnpm-lock.yaml
  src/components/modal/modal.stories.tsx
  src/components/snackbar/snackbar.stories.tsx
  src/components/special-button/special-button.stories.tsx
  src/contexts/stories/snackbar.stories.tsx
Due: eslint --fix, tsc-files --noEmit, prettier --write

chore: replace nginx with Caddy
  Caddyfile
  Dockerfile
  docker/nginx/nginx.conf
Due: none

chore: change npm to pnpm
  package.json
Due: prettier --write

chore(release): 2.4.1
  CHANGELOG.md
  package.json
Due: prettier --write

fix: minor
  package.json
Due: prettier --write

chore(release): 2.5.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix: pnpm installation
  Dockerfile
Due: none

chore(release): 2.5.1
  CHANGELOG.md
  package.json
Due: prettier --write

chore: add workbox-window to the devdeps
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(release): 2.5.2
  CHANGELOG.md
  package.json
Due: prettier --write

chore: update the readme
  README.md
Due: prettier --write

feat: add fading effect
  src/hooks/use-sound.ts
Due: eslint --fix, tsc-files --noEmit

refactor: flatten and inline stores
  src/stores/loading.ts
  src/stores/note.ts
  src/stores/note/index.ts
  src/stores/note/note.actions.ts
  src/stores/note/note.state.ts
  src/stores/pomodoro.ts
  src/stores/preset.ts
  src/stores/sleep-timer.ts
  src/stores/sound.ts
  src/stores/sound/index.ts
  src/stores/sound/sound.actions.ts
  src/stores/sound/sound.state.ts
Due: eslint --fix, tsc-files --noEmit

chore(release): 2.6.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore: add features to the README
  README.md
Due: prettier --write

feat: add settings modal
  src/components/modals/settings/index.ts
  src/components/modals/settings/settings.module.css
  src/components/modals/settings/settings.tsx
  src/components/modals/shortcuts/shortcuts.tsx
  src/components/sounds/sound/sound.tsx
  src/components/store-consumer/store-consumer.tsx
  src/components/toolbar/menu/items/index.ts
  src/components/toolbar/menu/items/settings.tsx
  src/components/toolbar/menu/menu.module.css
  src/components/toolbar/menu/menu.tsx
  src/components/toolbox/countdown/countdown.tsx
  src/components/toolbox/pomodoro/pomodoro.tsx
  src/stores/settings.ts
  src/stores/sound.ts
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: migrate to Biome
  .eslintignore
  .eslintrc.json
  .lintstagedrc.json
  .prettierignore
  .prettierrc.json
  .stylelintignore
  .stylelintrc.json
  .vscode/extensions.json
  .vscode/settings.json
  biome.json
  package.json
  pnpm-lock.yaml
  src/stores/note.ts
  src/stores/sound.ts
Due: eslint --fix, tsc-files --noEmit, prettier --write

chore: migrate away from npm configuration
  .npmrc
  pnpm-workspace.yaml
Due: none

ci: upgrade base docker image version to node@24
  Dockerfile
Due: none

chore(deps): migrate husky to v9
  .husky/commit-msg
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): upgrade commit lint and commitizen
  package.json
  pnpm-lock.yaml
Due: prettier --write
