Repository remvze/moodist: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, tsc-files --noEmit, prettier --write, stylelint --fix

chore: 升级版本到 2.4.0
  package-lock.json
  package.json
Due: prettier --write

feat: 实现完整的用户认证系统
  astro.config.mjs
  src/components/auth-button/auth-button.module.css
  src/components/auth-button/auth-button.tsx
  src/components/auth-button/index.ts
  src/components/auth/auth-form.module.css
  src/components/auth/auth-form.tsx
  src/components/auth/index.ts
  src/components/auth/login-trigger.module.css
  src/components/auth/login-trigger.tsx
  src/components/auth/user-info.module.css
  src/components/auth/user-info.tsx
  src/components/toolbar/menu/items/auth-item.tsx
  src/components/toolbar/menu/items/index.ts
  src/components/toolbar/menu/items/item.module.css
  src/lib/database.ts
  src/pages/api/auth/login.ts
  src/pages/api/auth/register.ts
  src/stores/auth.ts
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

refactor: 简化界面并优化用户体验
  src/components/app/app.tsx
  src/components/donate.astro
  src/components/toolbar/menu/menu.module.css
  src/components/toolbar/menu/menu.tsx
  src/pages/index.astro
  src/pages/zh.astro
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

style: 统一明亮主题样式并优化视觉体验
  data/users.db
  src/components/buttons/play/play.module.css
  src/components/buttons/unselect/unselect.module.css
  src/components/categories/category/category.module.css
  src/components/sounds/sounds.module.css
  src/components/theme-toggle/theme-toggle.module.css
  src/components/theme-toggle/theme-toggle.tsx
  src/components/toolbar/scroll-to-top/scroll-to-top.module.css
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: 完整认证系统与UI优化 v2.5.0
  package.json
  src/components/about-unified.astro
  src/components/app/app.tsx
  src/components/language-switcher/language-switcher.module.css
  src/components/language-switcher/language-switcher.tsx
  src/layouts/layout.astro
  src/pages/api/auth/login.ts
  src/pages/api/auth/register.ts
Due: eslint --fix, tsc-files --noEmit, prettier --write, stylelint --fix

feat: 完整实现音乐保存与管理系统 v2.6.0
  src/components/app/app.tsx
  src/components/language-switcher/language-switcher.module.css
  src/components/language-switcher/language-switcher.tsx
  src/components/saved-music-list/index.ts
  src/components/saved-music-list/saved-music-list.module.css
  src/components/saved-music-list/saved-music-list.tsx
  src/components/selected-sounds-display/selected-sounds-display.tsx
  src/components/sounds/sounds.module.css
  src/lib/database.ts
  src/pages/api/auth/music/delete.ts
  src/pages/api/auth/music/list.ts
  src/pages/api/auth/music/rename.ts
  src/pages/api/auth/music/save.ts
  src/stores/auth.ts
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: 重构音乐列表UI与JWT认证完整实现 v2.7.0
  data/users.db
  src/components/app/app.tsx
  src/components/buttons/delete-music/delete-music.module.css
  src/components/buttons/delete-music/delete-music.tsx
  src/components/buttons/save-music/save-music.module.css
  src/components/buttons/save-music/save-music.tsx
  src/components/notification/notification.module.css
  src/components/notification/notification.tsx
  src/components/saved-music-list/saved-music-list.tsx
  src/components/selected-sounds-display/selected-sounds-display.tsx
  src/components/slider/slider.module.css
  src/components/sounds/sound/range/range.module.css
  src/components/sounds/sounds.module.css
  src/hooks/useNotification.ts
  src/lib/api-client.ts
  src/lib/auth-middleware.ts
  src/lib/jwt-auth-middleware.ts
  src/lib/jwt.ts
  src/pages/api/auth/login.ts
  src/pages/api/auth/music/delete.ts
  src/pages/api/auth/music/list.ts
  src/pages/api/auth/music/rename.ts
  src/pages/api/auth/music/save.ts
  src/pages/api/auth/register.ts
  src/stores/auth.ts
  test-jwt.js
  users.db
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

fix: 修复音乐删除功能401认证错误
  src/components/selected-sounds-display/selected-sounds-display.tsx
Due: eslint --fix, tsc-files --noEmit

feat: 统一拖动条样式并优化UI配色方案
  src/components/selected-sounds-display/selected-sounds-display.tsx
  src/components/slider/slider.module.css
  src/components/sounds/sound/range/range.module.css
  src/components/sounds/sound/range/range.tsx
  src/components/sounds/sound/sound.module.css
  src/components/sounds/sounds.module.css
  src/styles/base/base.css
  src/styles/variables/color.css
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: 统一声音选项和播放区域背景色配置
  src/components/sounds/sound/sound.module.css
  src/components/sounds/sounds.module.css
  src/styles/variables/color.css
Due: stylelint --fix

feat: 实现音乐记录展开播放功能和互斥展开系统
  src/components/selected-sounds-display/selected-sounds-display.tsx
  src/components/sounds/sounds.module.css
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: 重构音乐列表UI布局与模块分离优化
  src/components/language-switcher/language-switcher.tsx
  src/components/selected-sounds-display/selected-sounds-display.tsx
  src/components/sounds/sound/sound.tsx
  src/components/sounds/sounds.module.css
  src/hooks/use-sound.ts
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

fix: 优化音乐列表横向布局对齐
  src/components/sounds/sounds.module.css
Due: stylelint --fix

feat: 完整实现手风琴效果与动态高度音乐列表
  src/components/selected-sounds-display/selected-sounds-display.tsx
  src/components/sounds/sounds.module.css
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

refactor: 简化界面布局，移除冗余操作按钮
  src/components/selected-sounds-display/selected-sounds-display.tsx
Due: eslint --fix, tsc-files --noEmit

feat: 升级到 v3.0.0 - 独立音乐播放系统与 Docker 数据持久化
  data/users.db
  data/users.db-shm
  data/users.db-wal
  docker-compose.dev.yml
  docker-compose.optimized.yml
  docker-compose.yml
  docker-database-mount.md
  package.json
  src/components/selected-sounds-display/selected-sounds-display.tsx
  src/components/sounds/sounds.module.css
  src/lib/database.ts
  src/pages/api/auth/music/save.ts
Due: eslint --fix, tsc-files --noEmit, prettier --write, stylelint --fix

fix: 添加 Node.js 适配器配置支持 Docker 构建
  astro.config.mjs
  package-lock.json
  package.json
Due: prettier --write

fix: 改为静态构建模式修复Docker部署问题
  astro.config.mjs
Due: none

feat: 添加类生产模式 Docker 部署配置
  .gitignore
  Dockerfile.dev-server
  Dockerfile.prod-like
  Dockerfile.server
  astro.config.mjs
  docker-compose.yml
Due: none

feat: 简化 docker-compose.yml 使用 latest 标签
  docker-compose.yml
Due: none

feat: 优化开发环境配置和端口映射
  Dockerfile.dev-server
  docker-compose.yml
Due: none

feat: replace the silence file
  public/sounds/silence.mp3
  public/sounds/silence.wav
  src/components/media-controls/media-session-track.tsx
Due: eslint --fix, tsc-files --noEmit

style: minor changes
  src/components/categories/category-icons/category-icons.module.css
  src/components/categories/category-icons/category-icons.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

chore(release): 2.2.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore: change silence
  public/sounds/silence.wav
Due: none

feat: turn links into buttons
  src/components/categories/category-icons/category-icons.module.css
  src/components/categories/category-icons/category-icons.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

chore(release): 2.3.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat: add audio session type
  src/hooks/use-sound.ts
Due: eslint --fix, tsc-files --noEmit

chore(release): 2.4.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix(ui): body should not be scrollable when opening pomodoro settings
  src/components/toolbar/menu/menu.tsx
  src/components/toolbox/pomodoro/pomodoro.tsx
Due: eslint --fix, tsc-files --noEmit

feat: add IPv6 listen directive to nginx configuration
  docker/nginx/nginx.conf
Due: none

feat: add healthcheck configuration to docker-compose.yml
  docker-compose.yml
Due: none

feat(capacitor): add Capacitor for iOS support
  capacitor.config.ts
  package-lock.json
  package.json
Due: eslint --fix, tsc-files --noEmit, prettier --write

feat(platform): add cross-platform abstraction layer
  src/lib/platform/audio.ts
  src/lib/platform/clipboard.ts
  src/lib/platform/detect.ts
  src/lib/platform/index.ts
  src/lib/platform/share.ts
Due: eslint --fix, tsc-files --noEmit

refactor: update hooks and helpers to use platform abstraction
  src/helpers/download.ts
  src/hooks/use-copy.ts
Due: eslint --fix, tsc-files --noEmit

feat(audio): enable background audio playback on iOS
  src/components/media-controls/media-session-track.tsx
  src/hooks/use-sound.ts
Due: eslint --fix, tsc-files --noEmit

feat: add native share button and skip PWA reload on iOS
  src/components/modals/share-link/share-link.tsx
  src/components/reload/reload.tsx
Due: eslint --fix, tsc-files --noEmit

feat(ios): add iOS native project with Capacitor
  ios/.gitignore
  ios/App/App.xcodeproj/project.pbxproj
  ios/App/App.xcworkspace/contents.xcworkspacedata
  ios/App/App.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  ios/App/App/AppDelegate.swift
  ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-512@2x.png
  ios/App/App/Assets.xcassets/AppIcon.appiconset/Contents.json
  ios/App/App/Assets.xcassets/Contents.json
  ios/App/App/Assets.xcassets/Splash.imageset/Contents.json
  ios/App/App/Assets.xcassets/Splash.imageset/splash-2732x2732-1.png
  ios/App/App/Assets.xcassets/Splash.imageset/splash-2732x2732-2.png
  ios/App/App/Assets.xcassets/Splash.imageset/splash-2732x2732.png
  ios/App/App/Base.lproj/LaunchScreen.storyboard
  ios/App/App/Base.lproj/Main.storyboard
  ios/App/App/Info.plist
  ios/App/Podfile
  ios/App/Podfile.lock
Due: prettier --write

docs: update README with iOS development section
  .gitignore
  README.md
Due: prettier --write

feat: add Capacitor v8 for iOS app support
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.astro)
  tsc-files --noEmit: any of: *.{ts,tsx}
  prettier --write: (any of: *.{json,md}) or (any of: *.html)
  stylelint --fix: ((any of: *.css) or (any of: *.astro)) or (any of: *.html)
