Repository remvze/moodist: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, tsc-files --noEmit, prettier --write, stylelint --fix

fix: remove time from tabs array
  src/components/toolbox/pomodoro/pomodoro.tsx
Due: eslint --fix, tsc-files --noEmit

feat: add alarm for pomodoro timer
  public/sounds/alarm.mp3
  src/components/toolbox/pomodoro/pomodoro.tsx
  src/hooks/use-sound-effect.ts
Due: eslint --fix, tsc-files --noEmit

fix: remove extra headings
  src/components/categories/donate/donate.tsx
  src/components/category/category.tsx
  src/components/hero/hero.module.css
  src/components/hero/hero.tsx
  src/components/sound/sound.module.css
  src/components/sound/sound.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

fix: comment out toolbox section
  src/components/about/about.tsx
Due: eslint --fix, tsc-files --noEmit

chore(release): 1.4.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat: add toolbar and portal
  src/components/app/app.tsx
  src/components/container/container.module.css
  src/components/container/container.tsx
  src/components/menu/menu.module.css
  src/components/modal/modal.tsx
  src/components/portal/index.ts
  src/components/portal/portal.tsx
  src/components/scroll-to-top/scroll-to-top.module.css
  src/components/scroll-to-top/scroll-to-top.tsx
  src/components/toolbar/index.ts
  src/components/toolbar/toolbar.module.css
  src/components/toolbar/toolbar.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

style: widen the container
  src/components/container/container.module.css
Due: stylelint --fix

chore: change GitHub workflow
  .github/workflows/build_docker.yml
Due: none

chore(release): 1.4.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

style: change font path
  src/styles/fonts.css
Due: stylelint --fix

chore: remove arm/v6
  .github/workflows/build_docker.yml
Due: none

chore(release): 1.4.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore: remove arm/v7
  .github/workflows/build_docker.yml
Due: none

chore(release): 1.4.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Make Dockerfile compatible with podman
  Dockerfile
Due: none

Add visibility on buttons focus
  src/components/about/about.module.css
  src/components/buttons/play/play.module.css
  src/components/buttons/unselect/unselect.module.css
  src/components/sound/favorite/favorite.module.css
Due: stylelint --fix

Fix keyboard focus on Sound cards
  src/components/sound/sound.tsx
Due: eslint --fix, tsc-files --noEmit

refactor: add Radix
  package-lock.json
  package.json
  src/components/menu/item/item.module.css
  src/components/menu/item/item.tsx
  src/components/menu/menu.module.css
  src/components/menu/menu.tsx
  src/components/tooltip/tooltip.tsx
Due: eslint --fix, tsc-files --noEmit, prettier --write, stylelint --fix

refactor: remove hide delay for tooltips
  src/components/buttons/unselect/unselect.tsx
  src/components/shuffle/shuffle.tsx
  src/components/toolbox/notepad/button/button.tsx
  src/components/toolbox/pomodoro/button/button.tsx
Due: eslint --fix, tsc-files --noEmit

feat: make the modal more accessible
  package-lock.json
  package.json
  src/components/modal/modal.tsx
Due: eslint --fix, tsc-files --noEmit, prettier --write

fix: relocate focus trap
  src/components/modal/modal.tsx
  src/components/tooltip/tooltip.module.css
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

style: change outline color
  src/components/about/about.module.css
  src/components/buttons/play/play.module.css
  src/components/buttons/unselect/unselect.module.css
  src/components/sound/favorite/favorite.module.css
Due: stylelint --fix

style: add outline for better accessibility
  src/components/modal/modal.module.css
  src/components/modals/presets/list/list.module.css
  src/components/modals/presets/new/new.module.css
  src/components/modals/share-link/share-link.module.css
  src/components/modals/shared/shared.module.css
  src/components/toolbox/notepad/button/button.module.css
  src/components/toolbox/notepad/notepad.module.css
  src/components/toolbox/pomodoro/button/button.module.css
Due: stylelint --fix

style: better outlines for accessibility
  src/components/about/about.module.css
  src/components/buttons/play/play.module.css
  src/components/buttons/unselect/unselect.module.css
  src/components/modal/modal.module.css
  src/components/modals/presets/list/list.module.css
  src/components/modals/presets/new/new.module.css
  src/components/modals/share-link/share-link.module.css
  src/components/modals/shared/shared.module.css
  src/components/sound/favorite/favorite.module.css
  src/components/sound/sound.module.css
  src/components/sounds/sounds.module.css
  src/components/special-button/special-button.module.css
  src/components/toolbox/notepad/button/button.module.css
  src/components/toolbox/notepad/notepad.module.css
  src/components/toolbox/pomodoro/button/button.module.css
  src/components/toolbox/pomodoro/setting/setting.module.css
  src/components/toolbox/pomodoro/tabs/tabs.module.css
Due: stylelint --fix

style: add outlines to toolbar buttons
  src/components/menu/menu.module.css
  src/components/scroll-to-top/scroll-to-top.module.css
Due: stylelint --fix

feat: add keyboard shortcuts
  package-lock.json
  package.json
  src/components/menu/menu.tsx
Due: eslint --fix, tsc-files --noEmit, prettier --write

feat: add shortcuts to items
  src/components/menu/item/item.module.css
  src/components/menu/item/item.tsx
  src/components/menu/items/notepad.tsx
  src/components/menu/items/pomodoro.tsx
  src/components/menu/items/presets.tsx
  src/components/menu/items/share.tsx
  src/components/menu/menu.module.css
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: allow using spacebar or enter to trigger buttons
  src/components/sound/favorite/favorite.tsx
  src/components/sound/sound.tsx
  src/hooks/useKeyboardButton.ts
Due: eslint --fix, tsc-files --noEmit

feat: make items menu focusable with tab
  src/components/menu/item/item.module.css
  src/components/menu/item/item.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: add autofocus on notepad textarea
  src/components/toolbox/notepad/notepad.tsx
Due: eslint --fix, tsc-files --noEmit

feat: allow pressing Escape to close modals
  src/components/modal/modal.tsx
Due: eslint --fix, tsc-files --noEmit

feat: add focus trap on modals
  package-lock.json
  package.json
  src/components/modal/modal.tsx
Due: eslint --fix, tsc-files --noEmit, prettier --write

feat: add autofocus for note
  src/components/toolbox/notepad/notepad.tsx
Due: eslint --fix, tsc-files --noEmit

refactor: rename hook file
  src/components/sound/favorite/favorite.tsx
  src/components/sound/sound.tsx
  src/hooks/use-keyboard-button.ts
Due: eslint --fix, tsc-files --noEmit

feat: change shortcuts to shift
  src/components/menu/items/notepad.tsx
  src/components/menu/items/pomodoro.tsx
  src/components/menu/items/share.tsx
  src/components/menu/menu.tsx
Due: eslint --fix, tsc-files --noEmit

feat: add better aria labels
  src/components/sound/favorite/favorite.tsx
  src/components/sound/sound.tsx
Due: eslint --fix, tsc-files --noEmit

feat: add better aria labels
  src/components/menu/item/item.tsx
  src/components/sound/range/range.tsx
  src/components/sound/sound.tsx
Due: eslint --fix, tsc-files --noEmit

fix: cancel buttons on pomodoro settings will now cancel properly
  src/components/toolbox/pomodoro/setting/setting.tsx
Due: eslint --fix, tsc-files --noEmit

refactor: better shortcut handling
  src/components/modal/modal.tsx
Due: eslint --fix, tsc-files --noEmit

Path conditions:
  eslint --fix: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.astro)
  tsc-files --noEmit: any of: *.{ts,tsx}
  prettier --write: (any of: *.{json,md}) or (any of: *.html)
  stylelint --fix: ((any of: *.css) or (any of: *.astro)) or (any of: *.html)
