Repository remvze/moodist: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, tsc-files --noEmit, prettier --write, stylelint --fix

feat: add Howler for sounds
  package-lock.json
  package.json
  src/hooks/use-sound.ts
Due: eslint --fix, tsc-files --noEmit, prettier --write

style: add smooth transition
  src/components/sound/sound.module.css
Due: stylelint --fix

feat: add scroll to top component
  src/components/app/app.tsx
  src/components/scroll-to-top/index.ts
  src/components/scroll-to-top/scroll-to-top.module.css
  src/components/scroll-to-top/scroll-to-top.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

fix: change icon path
  src/components/scroll-to-top/scroll-to-top.tsx
Due: eslint --fix, tsc-files --noEmit

style: change tagline
  src/components/hero/hero.tsx
Due: eslint --fix, tsc-files --noEmit

feat: add about section
  src/components/about/about.module.css
  src/components/about/about.tsx
  src/components/about/index.ts
  src/pages/index.astro
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: add why section
  src/components/about/about.module.css
  src/components/why-section/index.ts
  src/components/why-section/why-section.module.css
  src/components/why-section/why-section.tsx
  src/pages/index.astro
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

refactor: relocate sections
  src/components/sections/about/about.module.css
  src/components/sections/about/about.tsx
  src/components/sections/about/index.ts
  src/components/sections/index.ts
  src/components/sections/why/index.ts
  src/components/sections/why/why.module.css
  src/components/sections/why/why.tsx
  src/components/why-section/index.ts
  src/pages/index.astro
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

style: change icon backgrounds
  src/components/sections/why/why.module.css
Due: stylelint --fix

style: add line to titles
  src/components/sections/about/about.module.css
  src/components/sections/about/about.tsx
  src/components/sections/why/why.module.css
  src/components/sections/why/why.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

style: better line alignment
  src/components/sections/about/about.module.css
  src/components/sections/why/why.module.css
Due: stylelint --fix

feat: add ready section
  src/components/app/app.tsx
  src/components/sections/index.ts
  src/components/sections/ready/index.ts
  src/components/sections/ready/ready.module.css
  src/components/sections/ready/ready.tsx
  src/pages/index.astro
  src/styles/base/base.css
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

fix: change icon path
  src/components/sections/ready/ready.tsx
Due: eslint --fix, tsc-files --noEmit

style: add gradient background
  src/components/sections/ready/ready.module.css
  src/components/sections/ready/ready.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: add link to reasons
  src/components/sections/why/why.module.css
  src/components/sections/why/why.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

style: change reason copy
  src/components/sections/why/why.tsx
Due: eslint --fix, tsc-files --noEmit

feat: add footer component
  src/components/footer/footer.module.css
  src/components/footer/footer.tsx
  src/components/footer/index.ts
  src/pages/index.astro
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: add tooltip to scroll button
  src/components/scroll-to-top/scroll-to-top.tsx
  src/components/tooltip/tooltip.tsx
Due: eslint --fix, tsc-files --noEmit

style: fix snackbar pointer
  src/components/snackbar/snackbar.module.css
Due: stylelint --fix

fix: remove tooltip
  src/components/scroll-to-top/scroll-to-top.tsx
Due: eslint --fix, tsc-files --noEmit

feat: implement shuffling functionality
  src/components/app/app.tsx
  src/components/shuffle/index.ts
  src/components/shuffle/shuffle.module.css
  src/components/shuffle/shuffle.tsx
  src/helpers/random.ts
  src/store/sound/sound.actions.ts
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

style: fix tooltip z-index
  src/components/tooltip/tooltip.tsx
Due: eslint --fix, tsc-files --noEmit

style: decrease margin
  src/components/snackbar/snackbar.module.css
Due: stylelint --fix

fix: typo
  src/data/sounds.tsx
Due: eslint --fix, tsc-files --noEmit

refactor: use scrollIntoView instead of link
  src/components/sections/ready/ready.tsx
  src/pages/index.astro
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

style: add new font weight for links
  public/fonts/inter-v13-latin-500.woff2
  src/components/footer/footer.module.css
  src/components/sections/why/why.module.css
  src/styles/fonts.css
Due: stylelint --fix

style: add gradient line
  src/components/gradient/gradient.module.css
  src/components/gradient/gradient.tsx
  src/components/gradient/index.ts
  src/pages/index.astro
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

style: add theme color
  src/layouts/layout.astro
Due: eslint --fix, stylelint --fix

style: decrease gradient shine
  src/components/gradient/gradient.module.css
  src/components/hero/hero.module.css
Due: stylelint --fix

fix: change page title
  src/pages/index.astro
Due: eslint --fix, stylelint --fix

feat: add singing bowl sound
  public/sounds/things/singing-bowl.mp3
  src/data/sounds.tsx
Due: eslint --fix, tsc-files --noEmit

style: remove gradient line
  src/components/gradient/gradient.module.css
  src/components/gradient/gradient.tsx
  src/components/gradient/index.ts
  src/components/hero/hero.module.css
  src/pages/index.astro
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

style: change primary color
  src/components/buttons/play/play.module.css
  src/components/buttons/unselect/unselect.module.css
  src/components/sections/why/why.module.css
  src/components/sound/sound.module.css
  src/components/sounds/sounds.module.css
Due: stylelint --fix

fix: rehydrate store only on mount
  src/components/store-consumer/store-consumer.tsx
Due: eslint --fix, tsc-files --noEmit

feat: add aria-disabled to play button
  src/components/buttons/play/play.tsx
Due: eslint --fix, tsc-files --noEmit

fix: remove history on favorite toggle
  src/store/sound/sound.actions.ts
Due: eslint --fix, tsc-files --noEmit

style: change logo
  public/faded-logo.svg
  public/logo.svg
  src/components/hero/hero.module.css
  src/components/hero/hero.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

style: change favicon
  public/favicon.svg
Due: none

chore: change README file
  README.md
  assets/banner.svg
Due: prettier --write

feat: add loading state for sounds
  src/components/sound/sound.module.css
  src/components/sound/sound.tsx
  src/hooks/use-sound.ts
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

Path conditions:
  eslint --fix: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.astro)
  tsc-files --noEmit: any of: *.{ts,tsx}
  prettier --write: (any of: *.{json,md}) or (any of: *.html)
  stylelint --fix: ((any of: *.css) or (any of: *.astro)) or (any of: *.html)
