Repository remvze/moodist: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, tsc-files --noEmit, prettier --write, stylelint --fix

feat: internationalize toolbar menu items and associated Modals
  src/components/modals/binaural/binaural.tsx
  src/components/modals/breathing/breathing.tsx
  src/components/modals/breathing/exercise/exercise.tsx
  src/components/modals/isochronic/isochronic.tsx
  src/components/modals/presets/list/list.tsx
  src/components/modals/presets/new/new.tsx
  src/components/modals/presets/presets.tsx
  src/components/modals/share-link/share-link.tsx
  src/components/modals/shared/shared.tsx
  src/components/modals/shortcuts/shortcuts.tsx
  src/components/modals/sleep-timer/sleep-timer.tsx
  src/components/toolbar/menu/items/binaural.tsx
  src/components/toolbar/menu/items/breathing-exercise.tsx
  src/components/toolbar/menu/items/countdown.tsx
  src/components/toolbar/menu/items/donate.tsx
  src/components/toolbar/menu/items/isochronic.tsx
  src/components/toolbar/menu/items/notepad.tsx
  src/components/toolbar/menu/items/pomodoro.tsx
  src/components/toolbar/menu/items/presets.tsx
  src/components/toolbar/menu/items/share.tsx
  src/components/toolbar/menu/items/shortcuts.tsx
  src/components/toolbar/menu/items/shuffle.tsx
  src/components/toolbar/menu/items/sleep-timer.tsx
  src/components/toolbar/menu/items/source.tsx
  src/components/toolbar/menu/items/todo.tsx
  src/components/toolbar/menu/menu.tsx
  src/components/toolbox/countdown/countdown.tsx
  src/components/toolbox/notepad/notepad.tsx
  src/components/toolbox/pomodoro/pomodoro.tsx
  src/components/toolbox/pomodoro/setting/setting.tsx
  src/components/toolbox/todo/form/form.tsx
  src/components/toolbox/todo/todo.tsx
  src/components/toolbox/todo/todos/todo/todo.tsx
  src/components/toolbox/todo/todos/todos.tsx
  src/locales/en/translation.json
  src/locales/zh/translation.json
Due: eslint --fix, tsc-files --noEmit, prettier --write

feat: internationalize the rest
  src/components/about.astro
  src/components/buttons/play/play.tsx
  src/components/buttons/unselect/unselect.tsx
  src/components/categories/donate/donate.tsx
  src/components/donate.astro
  src/components/footer.astro
  src/components/hero.astro
  src/components/modal/modal.tsx
  src/components/reload/reload-modal.tsx
  src/components/shuffle/shuffle.tsx
  src/components/sounds/sound/favorite/favorite.tsx
  src/components/source.astro
  src/components/toolbar/menu/menu.tsx
  src/components/toolbar/scroll-to-top/scroll-to-top.tsx
  src/layouts/layout.astro
  src/locales/en/translation.json
  src/locales/zh/translation.json
Due: eslint --fix, tsc-files --noEmit, prettier --write, stylelint --fix

fix: fix footer.astro style
  .stylelintrc.json
  src/components/footer.astro
Due: eslint --fix, prettier --write, stylelint --fix

feat: added i18n in Traditional Chinese and Japanese
  astro.config.mjs
  src/components/LanguageSwitcher.astro
  src/i18n.ts
  src/i18n/utils.ts
  src/locales/en/translation.json
  src/locales/ja/translation.json
  src/locales/zh-CN/translation.json
  src/locales/zh-TW/translation.json
  src/pages/ja/index.astro
  src/pages/zh-CN/index.astro
  src/pages/zh-TW/index.astro
Due: eslint --fix, tsc-files --noEmit, prettier --write, stylelint --fix

feat: add automatic browser language redirection
  src/pages/index.astro
Due: eslint --fix, stylelint --fix

fix: prevent language switcher interaction when modal is open
  src/components/language-switcher.astro
  src/layouts/layout.astro
Due: eslint --fix, stylelint --fix

chore: reworking of translated texts
  src/locales/ja/translation.json
  src/locales/zh-CN/translation.json
  src/locales/zh-TW/translation.json
Due: prettier --write

Rename horse-galopp.mp3 to horse-gallop.mp3
  public/sounds/animals/horse-gallop.mp3
Due: none

Update animals.tsx
  src/data/sounds/animals.tsx
Due: eslint --fix, tsc-files --noEmit

chore: add bun commands and tauri scripts to README and include bun.lock
  README.md
  bun.lock
  package.json
  src-tauri/.gitignore
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/build.rs
  src-tauri/capabilities/default.json
  src-tauri/icons/128x128.png
  src-tauri/icons/128x128@2x.png
  src-tauri/icons/32x32.png
  src-tauri/icons/Square107x107Logo.png
  src-tauri/icons/Square142x142Logo.png
  src-tauri/icons/Square150x150Logo.png
  src-tauri/icons/Square284x284Logo.png
  src-tauri/icons/Square30x30Logo.png
  src-tauri/icons/Square310x310Logo.png
  src-tauri/icons/Square44x44Logo.png
  src-tauri/icons/Square71x71Logo.png
  src-tauri/icons/Square89x89Logo.png
  src-tauri/icons/StoreLogo.png
  src-tauri/icons/icon.icns
  src-tauri/icons/icon.ico
  src-tauri/icons/icon.png
  src-tauri/src/lib.rs
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
Due: prettier --write

fix: fixate the binary pattern
  src/components/binary.astro
  src/components/binary.tsx
  src/components/source.astro
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

fix: replace generator with static silent audio
  public/sounds/silence.mp3
  src/components/media-controls/media-session-track.tsx
Due: eslint --fix, tsc-files --noEmit

feat: add lofi music play
  package-lock.json
  package.json
  src/components/modals/lofi/index.ts
  src/components/modals/lofi/lofi.module.css
  src/components/modals/lofi/lofi.tsx
  src/components/toolbar/menu/items/index.ts
  src/components/toolbar/menu/items/lofi.tsx
  src/components/toolbar/menu/menu.tsx
Due: eslint --fix, tsc-files --noEmit, prettier --write, stylelint --fix

chore(release): 2.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat: make sound file addresses relative
  src/data/sounds/animals.tsx
  src/data/sounds/binaural.tsx
  src/data/sounds/nature.tsx
  src/data/sounds/noise.tsx
  src/data/sounds/places.tsx
  src/data/sounds/rain.tsx
  src/data/sounds/things.tsx
  src/data/sounds/transport.tsx
  src/data/sounds/urban.tsx
  src/helpers/path.ts
Due: eslint --fix, tsc-files --noEmit

feat(audio): improve resource cleanup for Safari compatibility
  src/components/modals/binaural/binaural.tsx
Due: eslint --fix, tsc-files --noEmit

feat: migrate to motion and fix some animations
  package-lock.json
  package.json
  src/components/buttons/unselect/unselect.tsx
  src/components/categories/categories.tsx
  src/components/modal/modal.tsx
  src/components/modals/breathing/exercise/exercise.tsx
  src/components/snackbar/snackbar.tsx
  src/components/sounds/sound/favorite/favorite.tsx
  src/components/sounds/sounds.tsx
  src/components/toolbar/menu/menu.tsx
  src/components/toolbar/scroll-to-top/scroll-to-top.tsx
  src/components/tooltip/tooltip.tsx
  src/contexts/snackbar.tsx
Due: eslint --fix, tsc-files --noEmit, prettier --write

style: remove cipher animation
  src/components/hero.astro
Due: eslint --fix, stylelint --fix

feat: add shine effect
  src/components/donate.astro
  src/components/hero.astro
Due: eslint --fix, stylelint --fix

style: increase border radius
  src/components/sounds/sound/sound.module.css
Due: stylelint --fix

style: change snackbar styles
  src/components/snackbar/snackbar.module.css
Due: stylelint --fix

feat: change lofi icon
  src/components/toolbar/menu/items/lofi.tsx
Due: eslint --fix, tsc-files --noEmit

style: increase line height
  src/components/hero.astro
Due: eslint --fix, stylelint --fix

style: decrease background opacity
  src/components/sounds/sound/sound.module.css
Due: stylelint --fix

style: increase text color
  src/components/toolbox/notepad/notepad.module.css
Due: stylelint --fix

feat: 添加中文文档README_zh.md
  README.md
  README_zh.md
Due: prettier --write

fix: allow audio to play in background on iOS (#58)
  src/components/sounds/sound/sound.tsx
  src/helpers/browser-detect.ts
Due: eslint --fix, tsc-files --noEmit

fix: prevent multiple simultaneous sound plays
  src/hooks/use-sound.ts
Due: eslint --fix, tsc-files --noEmit

feat: extract the provider for the tooltip
  package-lock.json
  package.json
  src/components/buttons/unselect/unselect.tsx
  src/components/shuffle/shuffle.tsx
  src/components/toolbox/generics/button/button.tsx
  src/components/toolbox/notepad/button/button.tsx
  src/components/toolbox/notepad/notepad.tsx
  src/components/tooltip/tooltip.tsx
Due: eslint --fix, tsc-files --noEmit, prettier --write

style: add animation on active
  src/components/buttons/play/play.module.css
  src/components/buttons/unselect/unselect.module.css
Due: stylelint --fix

style: change cursor
  src/components/sounds/sound/sound.module.css
Due: stylelint --fix

feat: add category icons
  src/components/categories/category-icons/category-icons.module.css
  src/components/categories/category-icons/category-icons.tsx
  src/pages/index.astro
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: add comprehensive Docker deployment support and Chinese documentation
  .dockerignore
  DOCKER_DEPLOY.md
  Dockerfile.multiplatform
  Dockerfile.optimized
  Dockerfile.simple
  README.md
  README.zh-CN.md
  docker-compose.dev.yml
  docker-compose.optimized.yml
  docker-compose.yml
  package.json
  scripts/build-docker-compatible.sh
  scripts/build-docker-simple.sh
  scripts/build-docker.sh
  scripts/build-local.sh
Due: prettier --write

chore(release): 2.2.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat: 实现完整的昼夜主题系统和优化随机音频功能
  README.en.md
  README.md
  src/components/app/app.tsx
  src/components/sounds/sound/random-speed/index.ts
  src/components/sounds/sound/random-speed/random-speed.module.css
  src/components/sounds/sound/random-speed/random-speed.tsx
  src/components/sounds/sound/range/range.module.css
  src/components/sounds/sound/range/range.tsx
  src/components/sounds/sound/sound.module.css
  src/components/sounds/sound/sound.tsx
  src/components/theme-toggle/index.ts
  src/components/theme-toggle/theme-toggle.module.css
  src/components/theme-toggle/theme-toggle.tsx
  src/helpers/translation.ts
  src/hooks/use-sound.ts
  src/stores/sound/sound.actions.ts
  src/stores/sound/sound.state.ts
  src/styles/base/base.css
Due: eslint --fix, tsc-files --noEmit, prettier --write, stylelint --fix

fix: 修复 Docker 镜像版本标签问题
  Dockerfile.simple
Due: none

feat: add selected sounds display module with complete functionality
  package.json
  src/components/app/app.tsx
  src/components/selected-sounds-display/index.ts
  src/components/selected-sounds-display/selected-sounds-display.tsx
  src/components/sounds/sound/sound.tsx
  src/data/i18n.ts
Due: eslint --fix, tsc-files --noEmit, prettier --write

Path conditions:
  eslint --fix: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.astro)
  tsc-files --noEmit: any of: *.{ts,tsx}
  prettier --write: (any of: *.{json,md}) or (any of: *.html)
  stylelint --fix: ((any of: *.css) or (any of: *.astro)) or (any of: *.html)
