Repository remvze/moodist: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, tsc-files --noEmit, prettier --write, stylelint --fix

style: add style to generators
  src/components/modals/binaural/binaural.module.css
  src/components/modals/binaural/binaural.tsx
  src/components/modals/isochronic/isochornic.module.css
  src/components/modals/isochronic/isochronic.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

fix: add default value
  src/components/modals/binaural/binaural.tsx
  src/components/modals/isochronic/isochronic.tsx
Due: eslint --fix, tsc-files --noEmit

fix: better implement shortcuts
  src/components/buttons/play/play.tsx
  src/components/buttons/unselect/unselect.tsx
Due: eslint --fix, tsc-files --noEmit

feat: add global volume
  src/components/sounds/sound/sound.tsx
  src/components/toolbar/menu/menu.module.css
  src/components/toolbar/menu/menu.tsx
  src/stores/sound/index.ts
  src/stores/sound/sound.actions.ts
  src/stores/sound/sound.state.ts
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: media session support
  README.md
  public/logo-dark.png
  public/logo-light.png
  src/components/app/app.tsx
  src/components/media-controls/index.ts
  src/components/media-controls/media-controls.tsx
  src/components/media-controls/media-session-track.tsx
  src/components/menu/items/media-controls.tsx
  src/components/menu/menu.tsx
  src/components/store-consumer/store-consumer.tsx
  src/helpers/browser-detect.ts
  src/helpers/sound.ts
  src/hooks/use-dark-theme.ts
  src/stores/media-session/index.ts
  src/stores/media-session/media-session.actions.ts
  src/stores/media-session/media-session.state.ts
Due: eslint --fix, tsc-files --noEmit, prettier --write

Removed Media Controls menu item
  src/components/media-controls/media-controls.tsx
  src/components/menu/items/media-controls.tsx
  src/components/menu/menu.tsx
  src/components/store-consumer/store-consumer.tsx
  src/stores/media-session/index.ts
  src/stores/media-session/media-session.actions.ts
  src/stores/media-session/media-session.state.ts
Due: eslint --fix, tsc-files --noEmit

feat: remove pre-made binaurals
  src/data/sounds.ts
Due: eslint --fix, tsc-files --noEmit

feat: add custom slider
  package-lock.json
  package.json
  src/components/slider/index.ts
  src/components/slider/slider.module.css
  src/components/slider/slider.tsx
  src/components/toolbar/menu/menu.tsx
Due: eslint --fix, tsc-files --noEmit, prettier --write, stylelint --fix

feat: add custom checkbox
  package-lock.json
  package.json
  src/components/checkbox/checkbox.module.css
  src/components/checkbox/checkbox.tsx
  src/components/checkbox/index.ts
  src/components/toolbox/todo/todos/todo/todo.module.css
  src/components/toolbox/todo/todos/todo/todo.tsx
Due: eslint --fix, tsc-files --noEmit, prettier --write, stylelint --fix

feat: use custom slider in binaural and isochronic
  .eslintrc.json
  src/components/modals/binaural/binaural.module.css
  src/components/modals/binaural/binaural.tsx
  src/components/modals/isochronic/isochornic.module.css
  src/components/modals/isochronic/isochronic.tsx
Due: eslint --fix, tsc-files --noEmit, prettier --write, stylelint --fix

feat: better heading
  src/components/hero.astro
Due: eslint --fix, stylelint --fix

chore: update logos
  public/favicon.svg
  public/logo-dark.png
  public/logo-light.png
  public/og.png
Due: none

chore: update logos
  public/logo-dark.png
  public/logo-light.png
Due: none

feat: add cipher animation
  src/components/cipher.tsx
  src/components/hero.astro
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: add binary animation
  src/components/binary.tsx
  src/components/source.astro
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

fix: wip for ios
  src/components/app/app.tsx
Due: eslint --fix, tsc-files --noEmit

chore: add library sound
  public/sounds/places/library.mp3
  src/data/sounds/places.tsx
Due: eslint --fix, tsc-files --noEmit

feat: Add PWA manifest
  public/manifest.webmanifest
  src/layouts/layout.astro
Due: eslint --fix, stylelint --fix

feat: change logos
  public/favicon.svg
  public/logo-dark.png
  public/logo-light.png
  public/logo.svg
  public/og.png
  src/components/hero.astro
  src/components/media-controls/media-session-track.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

fix: remove dropdown menu item from slider
  src/components/slider/slider.tsx
  src/components/toolbar/menu/menu.tsx
Due: eslint --fix, tsc-files --noEmit

style: change logo
  public/logo.svg
  src/components/hero.astro
Due: eslint --fix, stylelint --fix

style: change other assets
  public/favicon.svg
  public/logo-dark.png
  public/logo-light.png
  public/og.png
  src/components/media-controls/media-session-track.tsx
Due: eslint --fix, tsc-files --noEmit

feat: add PWA
  .eslintrc.json
  astro.config.mjs
  package-lock.json
  package.json
  public/assets/pwa/128.png
  public/assets/pwa/144.png
  public/assets/pwa/152.png
  public/assets/pwa/192.png
  public/assets/pwa/256.png
  public/assets/pwa/512.png
  public/assets/pwa/72.png
  src/components/reload/index.ts
  src/components/reload/reload-modal.tsx
  src/components/reload/reload.module.css
  src/components/reload/reload.tsx
  src/layouts/layout.astro
  tsconfig.json
Due: eslint --fix, tsc-files --noEmit, prettier --write, stylelint --fix

style: minor changes
  src/components/hero.astro
Due: eslint --fix, stylelint --fix

chore: comment out the banner
  README.md
Due: prettier --write

fix: correct link
  README.md
Due: prettier --write

chore(release): 2.0.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: add delay to cipher text
  src/components/cipher.tsx
Due: eslint --fix, tsc-files --noEmit

chore(release): 2.0.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore: refine logo
  public/assets/pwa/128.png
  public/assets/pwa/144.png
  public/assets/pwa/152.png
  public/assets/pwa/192.png
  public/assets/pwa/256.png
  public/assets/pwa/512.png
  public/assets/pwa/72.png
  public/favicon.svg
  public/logo-dark.png
  public/logo-light.png
  public/logo.svg
  public/og.png
Due: none

chore: add banner
  README.md
  assets/banner.png
  assets/banner.svg
Due: prettier --write

chore: update banner
  assets/banner.png
Due: none

chore: update the logo
  public/assets/pwa/128.png
  public/assets/pwa/144.png
  public/assets/pwa/152.png
  public/assets/pwa/192.png
  public/assets/pwa/256.png
  public/assets/pwa/512.png
  public/assets/pwa/72.png
  public/favicon.svg
  public/logo-dark.png
  public/logo-light.png
  public/logo.svg
  public/og.png
Due: none

fix(component): update oscillators frequency on preset change
  src/components/modals/binaural/binaural.tsx
Due: eslint --fix, tsc-files --noEmit

feat: integrate basic i18n support using i18next and react-i18next
  astro.config.mjs
  package-lock.json
  package.json
  src/components/about.astro
  src/components/app/app.tsx
  src/components/buttons/play/play.tsx
  src/i18n.ts
  src/i18n/utils.ts
  src/layouts/layout.astro
  src/locales/en/translation.json
  src/locales/zh/translation.json
  src/pages/zh/index.astro
Due: eslint --fix, tsc-files --noEmit, prettier --write, stylelint --fix

feat: add language switcher component
  src/components/LanguageSwitcher.astro
  src/layouts/layout.astro
  src/locales/en/translation.json
  src/locales/zh/translation.json
Due: eslint --fix, prettier --write, stylelint --fix

fix: resolve hydration mismatch error for i18n
  src/components/app/app.tsx
Due: eslint --fix, tsc-files --noEmit

feat: internationalize sound data and buttons
  src/components/about.astro
  src/components/app/app.tsx
  src/components/buttons/play/play.tsx
  src/components/buttons/unselect/unselect.tsx
  src/components/categories/category/category.tsx
  src/components/sounds/sound/favorite/favorite.tsx
  src/components/sounds/sound/range/range.tsx
  src/components/sounds/sound/sound.tsx
  src/components/sounds/sounds.tsx
  src/data/sounds/animals.tsx
  src/data/sounds/binaural.tsx
  src/data/sounds/nature.tsx
  src/data/sounds/noise.tsx
  src/data/sounds/places.tsx
  src/data/sounds/rain.tsx
  src/data/sounds/things.tsx
  src/data/sounds/transport.tsx
  src/data/sounds/urban.tsx
  src/data/types.d.ts
  src/i18n.ts
  src/locales/en/translation.json
  src/locales/zh/translation.json
Due: eslint --fix, tsc-files --noEmit, prettier --write, stylelint --fix

Path conditions:
  eslint --fix: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.astro)
  tsc-files --noEmit: any of: *.{ts,tsx}
  prettier --write: (any of: *.{json,md}) or (any of: *.html)
  stylelint --fix: ((any of: *.css) or (any of: *.astro)) or (any of: *.html)
