Repository remvze/moodist: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, tsc-files --noEmit, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "tsc-files --noEmit"],
  "*.{js,jsx}": "eslint --fix",
  "*.{json,md}": "prettier --write",
  "*.css": "stylelint --fix",
  "*.astro": ["eslint --fix", "stylelint --fix"],
  "*.html": ["prettier --write", "stylelint --fix"]
}

fix: rotate the spinner when unselected
  src/components/sound/sound.module.css
Due: stylelint --fix

fix: remove extra play calls
  src/hooks/use-sound.ts
Due: eslint --fix, tsc-files --noEmit

feat: complete meta tags
  public/og.png
  src/layouts/layout.astro
Due: eslint --fix, stylelint --fix

chore: change README banner
  assets/banner.svg
Due: none

fix: change link address
  README.md
Due: prettier --write

chore: add robots.txt file
  public/robots.txt
Due: none

chore: add more sounds
  public/sounds/nature/howling-wind.mp3
  public/sounds/nature/wind-in-trees.mp3
  src/data/sounds.tsx
Due: eslint --fix, tsc-files --noEmit

chore: add more sounds
  public/sounds/nature/walk-in-snow.mp3
  public/sounds/nature/walk-on-leaves.mp3
  public/sounds/urban/airplane.mp3
  public/sounds/urban/ambulance-siren.mp3
  src/data/sounds.tsx
Due: eslint --fix, tsc-files --noEmit

refactor: separate sounds
  src/data/sounds.ts
  src/data/sounds.tsx
  src/data/sounds/animals.tsx
  src/data/sounds/nature.tsx
  src/data/sounds/noise.tsx
  src/data/sounds/rain.tsx
  src/data/sounds/things.tsx
  src/data/sounds/urban.tsx
Due: eslint --fix, tsc-files --noEmit

feat: add sound count to hero
  src/components/hero/hero.module.css
  src/components/hero/hero.tsx
  src/components/sections/about/about.tsx
  src/lib/sounds.ts
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: change sound count from round to exact
  src/components/hero/hero.tsx
Due: eslint --fix, tsc-files --noEmit

style: remove layout animation
  src/components/category/category.tsx
Due: eslint --fix, tsc-files --noEmit

style: remove layout animation
  src/components/buttons/play/play.tsx
  src/components/category/category.tsx
Due: eslint --fix, tsc-files --noEmit

style: change copy
  src/components/sections/about/about.tsx
  src/components/sections/why/why.module.css
  src/components/sections/why/why.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

chore: add more sounds
  public/sounds/nature/rowing-boat.mp3
  src/data/sounds/nature.tsx
Due: eslint --fix, tsc-files --noEmit

fix: make sound count dynamic
  src/components/sections/why/why.tsx
Due: eslint --fix, tsc-files --noEmit

chore: upgrade Astro
  package-lock.json
  package.json
Due: prettier --write

refactor: turn footer into Astro component
  src/components/footer.astro
  src/components/footer/footer.module.css
  src/components/footer/footer.tsx
  src/components/footer/index.ts
  src/pages/index.astro
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

refactor: turn sections into Astro components
  .eslintrc.json
  src/components/sections/about.astro
  src/components/sections/about/about.module.css
  src/components/sections/about/about.tsx
  src/components/sections/about/index.ts
  src/components/sections/index.ts
  src/components/sections/ready.astro
  src/components/sections/ready/index.ts
  src/components/sections/ready/ready.module.css
  src/components/sections/ready/ready.tsx
  src/components/sections/why.astro
  src/components/sections/why/index.ts
  src/components/sections/why/why.module.css
  src/components/sections/why/why.tsx
  src/pages/index.astro
Due: eslint --fix, tsc-files --noEmit, prettier --write, stylelint --fix

refactor: turn hero into Astro component
  src/components/hero.astro
  src/components/hero/hero.module.css
  src/components/hero/hero.tsx
  src/components/hero/index.ts
  src/pages/index.astro
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

chore(release): 1.0.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

refactor: change ordering config
  .stylelintrc.json
  .vscode/settings.json
  package-lock.json
  package.json
  src/components/buttons/buttons.module.css
  src/components/buttons/play/play.module.css
  src/components/buttons/unselect/unselect.module.css
  src/components/category/category.module.css
  src/components/footer.astro
  src/components/hero.astro
  src/components/scroll-to-top/scroll-to-top.module.css
  src/components/sections/about.astro
  src/components/sections/ready.astro
  src/components/sections/why.astro
  src/components/shuffle/shuffle.module.css
  src/components/snackbar/snackbar.module.css
  src/components/sound/favorite/favorite.module.css
  src/components/sound/range/range.module.css
  src/components/sound/sound.module.css
  src/components/sounds/sounds.module.css
  src/components/tooltip/tooltip.module.css
  src/styles/base/base.css
  src/styles/fonts.css
Due: eslint --fix, prettier --write, stylelint --fix

chore: add more sounds
  public/sounds/animals/dog-barking.mp3
  public/sounds/things/ceiling-fan.mp3
  public/sounds/urban/busy-street.mp3
  public/sounds/urban/church.mp3
  public/sounds/urban/temple.mp3
  src/data/sounds/animals.tsx
  src/data/sounds/things.tsx
  src/data/sounds/urban.tsx
Due: eslint --fix, tsc-files --noEmit

chore: add more sounds
  public/sounds/animals/cat-purring.mp3
  public/sounds/animals/horse-galopp.mp3
  public/sounds/urban/construction-site.mp3
  public/sounds/urban/crowd.mp3
  public/sounds/urban/sailboat.mp3
  public/sounds/urban/submarine.mp3
  public/sounds/urban/traffic.mp3
  src/data/sounds/animals.tsx
  src/data/sounds/urban.tsx
Due: eslint --fix, tsc-files --noEmit

chore: add more sounds
  public/sounds/nature/droplets.mp3
  public/sounds/things/heartbeat.mp3
  src/data/sounds/nature.tsx
  src/data/sounds/things.tsx
Due: eslint --fix, tsc-files --noEmit

fix: change icon path
  src/data/sounds/urban.tsx
Due: eslint --fix, tsc-files --noEmit

chore: change heartbeat audio
  public/sounds/things/heartbeat.mp3
  public/sounds/things/heartbeat.wav
  src/data/sounds/things.tsx
Due: eslint --fix, tsc-files --noEmit

chore: remove heartbeat audio
  public/sounds/things/heartbeat.wav
  src/data/sounds/things.tsx
Due: eslint --fix, tsc-files --noEmit

chore: add transport category
  public/sounds/transport/airplane.mp3
  public/sounds/transport/inside-a-train.mp3
  public/sounds/transport/rowing-boat.mp3
  public/sounds/transport/sailboat.mp3
  public/sounds/transport/submarine.mp3
  public/sounds/transport/train.mp3
  src/data/sounds.ts
  src/data/sounds/nature.tsx
  src/data/sounds/transport.tsx
  src/data/sounds/urban.tsx
Due: eslint --fix, tsc-files --noEmit

chore: relocate underwater audio
  public/sounds/places/underwater.mp3
  src/data/sounds/nature.tsx
  src/data/sounds/places.tsx
Due: eslint --fix, tsc-files --noEmit

style: change sound counter
  src/components/hero.astro
Due: eslint --fix, stylelint --fix

style: change theme
  src/components/buttons/play/play.module.css
  src/components/buttons/unselect/unselect.module.css
  src/components/buttons/unselect/unselect.tsx
  src/components/sections/ready.astro
  src/components/sections/why.astro
  src/components/sound/favorite/favorite.module.css
  src/components/sound/sound.module.css
  src/styles/variables/color.css
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

style: change button style
  src/components/buttons/play/play.module.css
  src/components/sections/ready.astro
Due: eslint --fix, stylelint --fix

style: add hover states
  src/components/buttons/play/play.module.css
  src/components/buttons/unselect/unselect.module.css
  src/components/scroll-to-top/scroll-to-top.module.css
  src/components/sections/ready.astro
  src/components/shuffle/shuffle.module.css
  src/components/sound/favorite/favorite.module.css
  src/components/sound/sound.module.css
Due: eslint --fix, stylelint --fix

chore(release): 1.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat(docker): add dockerfile
  Dockerfile
  docker/nginx/nginx.conf
Due: none

.
  .github/workflows/build_docker.yml
  docker-compose.yml
Due: none

chore: change docker workflow
  .github/workflows/build_docker.yml
Due: none

chore: change docker-compose file
  docker-compose.yml
Due: none
