Repository remvze/moodist: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, tsc-files --noEmit, prettier --write, stylelint --fix

style: show about and features
  src/components/source/source.module.css
  src/pages/index.astro
Due: eslint --fix, stylelint --fix

style: hide features
  src/pages/index.astro
Due: eslint --fix, stylelint --fix

fix: make sound count dynamic
  src/components/about/about.tsx
Due: eslint --fix, tsc-files --noEmit

refactor: add variant to container
  src/components/about/about.module.css
  src/components/about/about.tsx
  src/components/container/container.module.css
  src/components/container/container.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

style: change the about style
  src/components/about/about.module.css
  src/components/about/about.tsx
  src/components/source/source.module.css
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

style: add effect to about
  src/components/about/about.module.css
  src/components/about/about.tsx
  src/components/source/source.module.css
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: add fade in/out
  src/hooks/use-sound.ts
Due: eslint --fix, tsc-files --noEmit

fix: remove fading
  src/hooks/use-sound.ts
Due: eslint --fix, tsc-files --noEmit

fix: add key to categories
  src/components/categories/categories.tsx
Due: eslint --fix, tsc-files --noEmit

feat: add titles
  src/components/about/about.module.css
  src/components/about/about.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

style: change description
  src/components/hero/hero.tsx
Due: eslint --fix, tsc-files --noEmit

feat: add simple notepad
  src/components/menu/item/item.module.css
  src/components/menu/items/index.ts
  src/components/menu/items/notepad.tsx
  src/components/menu/menu.tsx
  src/components/modal/modal.module.css
  src/components/modal/modal.tsx
  src/components/store-consumer/store-consumer.tsx
  src/components/toolbox/index.ts
  src/components/toolbox/notepad/index.ts
  src/components/toolbox/notepad/notepad.module.css
  src/components/toolbox/notepad/notepad.tsx
  src/store/index.ts
  src/store/note/index.ts
  src/store/note/note.actions.ts
  src/store/note/note.state.ts
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: add counter to notepad
  package-lock.json
  package.json
  src/components/toolbox/notepad/notepad.module.css
  src/components/toolbox/notepad/notepad.tsx
  src/helpers/counter.ts
  src/store/note/note.state.ts
Due: eslint --fix, tsc-files --noEmit, prettier --write, stylelint --fix

fix: remove word counter dependency
  package-lock.json
  package.json
  src/helpers/counter.ts
Due: eslint --fix, tsc-files --noEmit, prettier --write

feat: add toolbar to notepad
  src/components/toolbox/notepad/button/button.module.css
  src/components/toolbox/notepad/button/button.tsx
  src/components/toolbox/notepad/button/index.ts
  src/components/toolbox/notepad/notepad.module.css
  src/components/toolbox/notepad/notepad.tsx
  src/helpers/download.ts
  src/store/note/note.actions.ts
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: add dividers to menu items
  src/components/menu/divider/divider.module.css
  src/components/menu/divider/divider.tsx
  src/components/menu/divider/index.ts
  src/components/menu/item/item.module.css
  src/components/menu/menu.module.css
  src/components/menu/menu.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

fix: change z-index values
  src/components/modal/modal.module.css
  src/components/scroll-to-top/scroll-to-top.module.css
Due: stylelint --fix

feat: add source code item
  src/components/menu/item/item.module.css
  src/components/menu/items/index.ts
  src/components/menu/items/source.tsx
  src/components/menu/menu.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: add scroll for lower heights
  src/components/menu/divider/divider.module.css
  src/components/menu/item/item.module.css
  src/components/menu/menu.module.css
  src/components/menu/menu.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: add basic pomodoro structure
  src/components/menu/items/index.ts
  src/components/menu/items/pomodoro.tsx
  src/components/menu/menu.tsx
  src/components/toolbox/pomodoro/index.ts
  src/components/toolbox/pomodoro/pomodoro.module.css
  src/components/toolbox/pomodoro/pomodoro.tsx
  src/components/toolbox/pomodoro/tabs/index.ts
  src/components/toolbox/pomodoro/tabs/tabs.module.css
  src/components/toolbox/pomodoro/tabs/tabs.tsx
  src/components/toolbox/pomodoro/timer/index.ts
  src/components/toolbox/pomodoro/timer/timer.module.css
  src/components/toolbox/pomodoro/timer/timer.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: add controls to pomodoro
  src/components/toolbox/pomodoro/button/button.module.css
  src/components/toolbox/pomodoro/button/button.tsx
  src/components/toolbox/pomodoro/button/index.ts
  src/components/toolbox/pomodoro/pomodoro.module.css
  src/components/toolbox/pomodoro/pomodoro.tsx
  src/components/toolbox/pomodoro/timer/timer.tsx
  src/helpers/number.ts
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

style: increase pattern opacity
  src/components/hero/hero.module.css
Due: stylelint --fix

style: change unselected style
  src/components/toolbox/pomodoro/tabs/tabs.module.css
Due: stylelint --fix

feat: implement time setting
  src/components/about/about.module.css
  src/components/modal/modal.module.css
  src/components/toolbox/pomodoro/button/button.module.css
  src/components/toolbox/pomodoro/button/button.tsx
  src/components/toolbox/pomodoro/pomodoro.module.css
  src/components/toolbox/pomodoro/pomodoro.tsx
  src/components/toolbox/pomodoro/setting/index.ts
  src/components/toolbox/pomodoro/setting/setting.module.css
  src/components/toolbox/pomodoro/setting/setting.tsx
  src/components/toolbox/pomodoro/tabs/tabs.module.css
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

fix: change initial value
  src/components/toolbox/pomodoro/pomodoro.tsx
Due: eslint --fix, tsc-files --noEmit

fix: change completion condition
  src/components/toolbox/pomodoro/pomodoro.tsx
Due: eslint --fix, tsc-files --noEmit

feat: persist pomodoro setting
  src/components/toolbox/pomodoro/pomodoro.tsx
Due: eslint --fix, tsc-files --noEmit

feat: add active indicators
  src/components/menu/item/item.module.css
  src/components/menu/item/item.tsx
  src/components/menu/items/notepad.tsx
  src/components/menu/items/pomodoro.tsx
  src/components/toolbox/pomodoro/pomodoro.tsx
  src/store/index.ts
  src/store/pomodoro/index.ts
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: change tooltip content
  src/components/toolbox/notepad/notepad.tsx
Due: eslint --fix, tsc-files --noEmit

style: remove hero pattern
  src/components/hero/hero.module.css
  src/components/hero/hero.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: add copy for productivity toolbox
  src/components/about/about.tsx
Due: eslint --fix, tsc-files --noEmit

feat: add CTA button
  src/components/about/about.module.css
  src/components/about/about.tsx
  src/components/source/source.module.css
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

style: decrease padding
  src/components/about/about.module.css
Due: stylelint --fix

feat: add custom presets
  src/components/menu/items/index.ts
  src/components/menu/items/presets.tsx
  src/components/menu/menu.tsx
  src/components/modals/presets/index.ts
  src/components/modals/presets/list/index.ts
  src/components/modals/presets/list/list.module.css
  src/components/modals/presets/list/list.tsx
  src/components/modals/presets/new/index.ts
  src/components/modals/presets/new/new.module.css
  src/components/modals/presets/new/new.tsx
  src/components/modals/presets/presets.module.css
  src/components/modals/presets/presets.tsx
  src/store/index.ts
  src/store/preset/index.ts
  src/store/sound/sound.actions.ts
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: persist presets
  src/components/store-consumer/store-consumer.tsx
  src/store/preset/index.ts
Due: eslint --fix, tsc-files --noEmit

fix: add min-width to inputs
  src/components/modals/presets/list/list.module.css
  src/components/modals/presets/new/new.module.css
  src/components/modals/share-link/share-link.module.css
Due: stylelint --fix

style: change position for toolbar
  src/components/menu/menu.module.css
  src/components/scroll-to-top/scroll-to-top.module.css
Due: stylelint --fix

style: decrease font size
  src/components/about/about.module.css
Due: stylelint --fix

style: add scroll lock in modals
  src/components/modal/modal.tsx
  src/components/toolbox/pomodoro/setting/setting.tsx
Due: eslint --fix, tsc-files --noEmit

fix: change default times
  src/components/toolbox/pomodoro/pomodoro.tsx
Due: eslint --fix, tsc-files --noEmit

Path conditions:
  eslint --fix: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.astro)
  tsc-files --noEmit: any of: *.{ts,tsx}
  prettier --write: (any of: *.{json,md}) or (any of: *.html)
  stylelint --fix: ((any of: *.css) or (any of: *.astro)) or (any of: *.html)
