Repository remvze/moodist: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, tsc-files --noEmit, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "tsc-files --noEmit"],
  "*.{js,jsx}": "eslint --fix",
  "*.{json,md}": "prettier --write",
  "*.css": "stylelint --fix",
  "*.astro": ["eslint --fix", "stylelint --fix"],
  "*.html": ["prettier --write", "stylelint --fix"]
}

feat: add menu button
  src/components/app/app.tsx
  src/components/menu/index.ts
  src/components/menu/menu.module.css
  src/components/menu/menu.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: add animation to menu box
  src/components/menu/menu.tsx
Due: eslint --fix, tsc-files --noEmit

refactor: rewrite menu with floating ui
  src/components/menu/menu.module.css
  src/components/menu/menu.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

style: change border color
  src/components/menu/menu.module.css
Due: stylelint --fix

feat: add share placeholder
  public/fonts/inter-tight-v7-latin-700.woff2
  src/components/app/app.tsx
  src/components/menu/buttons/button.tsx
  src/components/menu/buttons/index.ts
  src/components/menu/buttons/share.tsx
  src/components/menu/buttons/shuffle.tsx
  src/components/menu/menu.module.css
  src/components/menu/menu.tsx
  src/components/modal/index.ts
  src/components/modal/modal.module.css
  src/components/modal/modal.tsx
  src/styles/fonts.css
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

refactor: better item structure for menu
  src/components/menu/buttons/button.tsx
  src/components/menu/buttons/index.ts
  src/components/menu/buttons/shuffle.tsx
  src/components/menu/item/index.ts
  src/components/menu/item/item.module.css
  src/components/menu/item/item.tsx
  src/components/menu/items/index.ts
  src/components/menu/items/share/index.ts
  src/components/menu/items/share/share.module.css
  src/components/menu/items/share/share.tsx
  src/components/menu/items/shuffle.tsx
  src/components/menu/menu.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: add share modal
  src/components/menu/items/share/share.module.css
  src/components/menu/items/share/share.tsx
  src/components/menu/menu.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: basic structure for share link
  src/components/menu/items/share.tsx
  src/components/menu/items/share/index.ts
  src/components/menu/items/share/share.tsx
  src/components/menu/menu.tsx
  src/components/modal/modal.module.css
  src/components/modal/modal.tsx
  src/components/modals/share-link/index.ts
  src/components/modals/share-link/share-link.module.css
  src/components/modals/share-link/share-link.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: implement sharing URL
  src/components/modals/share-link/share-link.tsx
  src/hooks/use-copy.ts
Due: eslint --fix, tsc-files --noEmit

fix: stringify dependency
  src/components/modals/share-link/share-link.tsx
Due: eslint --fix, tsc-files --noEmit

feat: implement override feature
  src/components/app/app.tsx
  src/components/modals/share-link/share-link.tsx
  src/components/modals/shared/index.ts
  src/components/modals/shared/shared.module.css
  src/components/modals/shared/shared.tsx
  src/store/sound/sound.actions.ts
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

style: add icon to menu items
  src/components/menu/item/item.module.css
  src/components/menu/item/item.tsx
  src/components/menu/items/share.tsx
  src/components/menu/items/shuffle.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

style: change to primary color
  src/components/sounds/sounds.module.css
Due: stylelint --fix

feat: add disabled state
  src/components/menu/item/item.module.css
  src/components/menu/item/item.tsx
  src/components/menu/items/share.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

style: change copy
  src/components/modals/shared/shared.tsx
Due: eslint --fix, tsc-files --noEmit

style: widen the menu
  src/components/menu/menu.module.css
Due: stylelint --fix

style: add animation to modal
  src/components/modal/modal.tsx
Due: eslint --fix, tsc-files --noEmit

chore: update GitHub action
  .github/workflows/build_docker.yml
Due: none

chore(release): 1.2.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: increase decimal
  src/components/modals/share-link/share-link.tsx
Due: eslint --fix, tsc-files --noEmit

feat: add loader for favorites
  src/components/sound/sound.tsx
  src/hooks/use-sound.ts
  src/store/index.ts
  src/store/loading/index.ts
Due: eslint --fix, tsc-files --noEmit

chore: add more sounds
  public/sounds/animals/crows.mp3
  public/sounds/nature/wind-in-trees.mp3
  public/sounds/places/crowded-bar.mp3
  public/sounds/places/night-village.mp3
  public/sounds/things/dryer.mp3
  public/sounds/transport/rowing-boat.mp3
  src/data/sounds/animals.tsx
  src/data/sounds/nature.tsx
  src/data/sounds/places.tsx
  src/data/sounds/things.tsx
Due: eslint --fix, tsc-files --noEmit

chore: add more sounds
  public/sounds/places/office.mp3
  public/sounds/places/subway-station.mp3
  public/sounds/things/slide-projector.mp3
  public/sounds/urban/fireworks.mp3
  src/data/sounds/places.tsx
  src/data/sounds/things.tsx
  src/data/sounds/urban.tsx
Due: eslint --fix, tsc-files --noEmit

fix: resume audio
  src/components/app/app.tsx
Due: eslint --fix, tsc-files --noEmit

feat: add media session
  src/components/app/app.tsx
Due: eslint --fix, tsc-files --noEmit

fix: add audio element
  .eslintrc.json
  src/components/app/app.tsx
Due: eslint --fix, tsc-files --noEmit, prettier --write

refactor: remove media session
  src/components/app/app.tsx
Due: eslint --fix, tsc-files --noEmit

fix: add unmute for iOS
  package-lock.json
  package.json
  src/components/app/app.tsx
Due: eslint --fix, tsc-files --noEmit, prettier --write

fix: add media session
  src/components/app/app.tsx
Due: eslint --fix, tsc-files --noEmit

refactor: remove unmute and media session
  package-lock.json
  package.json
  src/components/app/app.tsx
Due: eslint --fix, tsc-files --noEmit, prettier --write

fix: connect audio context to audio element
  src/components/app/app.tsx
Due: eslint --fix, tsc-files --noEmit

fix: undo changes
  src/components/app/app.tsx
Due: eslint --fix, tsc-files --noEmit

feat: add fading to intro and outro
  src/components/sound/sound.tsx
  src/hooks/use-sound.ts
Due: eslint --fix, tsc-files --noEmit

fix: remove fading
  src/components/sound/sound.tsx
  src/hooks/use-sound.ts
Due: eslint --fix, tsc-files --noEmit

chore: add more sounds
  public/sounds/places/carousel.mp3
  public/sounds/places/supermarket.mp3
  src/data/sounds/places.tsx
Due: eslint --fix, tsc-files --noEmit

chore: add more sounds
  public/sounds/animals/whale.mp3
  public/sounds/places/laboratory.mp3
  src/data/sounds/animals.tsx
  src/data/sounds/places.tsx
Due: eslint --fix, tsc-files --noEmit

chore: add more sounds
  public/sounds/things/boiling-water.mp3
  public/sounds/things/bubbles.mp3
  src/data/sounds/things.tsx
Due: eslint --fix, tsc-files --noEmit

chore: add more sounds
  public/sounds/things/morse-code.mp3
  public/sounds/things/tuning-radio.mp3
  src/data/sounds/things.tsx
Due: eslint --fix, tsc-files --noEmit

chore: add binaural beats
  public/sounds/binaural/binaural-alpha.wav
  public/sounds/binaural/binaural-beta.wav
  public/sounds/binaural/binaural-delta.wav
  public/sounds/binaural/binaural-gamma.wav
  public/sounds/binaural/binaural-theta.wav
  src/data/sounds.ts
  src/data/sounds/binaural.tsx
Due: eslint --fix, tsc-files --noEmit
