Repository remvze/moodist: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, tsc-files --noEmit, prettier --write, stylelint --fix

style: fix pointer event
  src/components/menu/menu.module.css
  src/components/scroll-to-top/scroll-to-top.module.css
  src/components/toolbar/toolbar.module.css
Due: stylelint --fix

style: change border radius
  src/components/menu/menu.module.css
Due: stylelint --fix

style: minor changes
  src/components/modals/breathing/exercise/exercise.module.css
  src/components/modals/breathing/exercise/exercise.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: add timer for breathing exercises
  src/components/modals/breathing/exercise/exercise.module.css
  src/components/modals/breathing/exercise/exercise.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: add animation for labels
  src/components/modals/breathing/exercise/exercise.tsx
Due: eslint --fix, tsc-files --noEmit

style: remove animation on change
  src/components/modals/breathing/exercise/exercise.tsx
Due: eslint --fix, tsc-files --noEmit

feat: add toolbox
  src/components/menu/items/index.ts
  src/components/menu/items/notepad.tsx
  src/components/menu/items/pomodoro.tsx
  src/components/menu/menu.tsx
  src/components/toolbox/generics/button/button.module.css
  src/components/toolbox/generics/button/button.tsx
  src/components/toolbox/generics/button/index.ts
  src/components/toolbox/index.ts
  src/components/toolbox/notepad/button/button.module.css
  src/components/toolbox/notepad/button/button.tsx
  src/components/toolbox/notepad/button/index.ts
  src/components/toolbox/notepad/index.ts
  src/components/toolbox/notepad/notepad.module.css
  src/components/toolbox/notepad/notepad.tsx
  src/components/toolbox/pomodoro/index.ts
  src/components/toolbox/pomodoro/pomodoro.module.css
  src/components/toolbox/pomodoro/pomodoro.tsx
  src/components/toolbox/pomodoro/setting/index.ts
  src/components/toolbox/pomodoro/setting/setting.module.css
  src/components/toolbox/pomodoro/setting/setting.tsx
  src/components/toolbox/pomodoro/tabs/index.ts
  src/components/toolbox/pomodoro/tabs/tabs.module.css
  src/components/toolbox/pomodoro/tabs/tabs.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: add todo checklist tool
  src/components/menu/items/index.ts
  src/components/menu/items/todo.tsx
  src/components/menu/menu.tsx
  src/components/store-consumer/store-consumer.tsx
  src/components/toolbox/index.ts
  src/components/toolbox/todo/form/form.module.css
  src/components/toolbox/todo/form/form.tsx
  src/components/toolbox/todo/form/index.ts
  src/components/toolbox/todo/index.ts
  src/components/toolbox/todo/todo.module.css
  src/components/toolbox/todo/todo.tsx
  src/components/toolbox/todo/todos/index.ts
  src/components/toolbox/todo/todos/todo/index.ts
  src/components/toolbox/todo/todos/todo/todo.module.css
  src/components/toolbox/todo/todos/todo/todo.tsx
  src/components/toolbox/todo/todos/todos.module.css
  src/components/toolbox/todo/todos/todos.tsx
  src/stores/todo.ts
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

style: change items order
  src/components/menu/menu.tsx
Due: eslint --fix, tsc-files --noEmit

feat: change shortcuts
  src/components/menu/items/presets.tsx
  src/components/menu/items/sleep-timer.tsx
  src/components/menu/menu.tsx
  src/components/modals/shortcuts/shortcuts.tsx
  src/stores/preset/index.ts
Due: eslint --fix, tsc-files --noEmit

feat: add simple countdown timer
  .stylelintrc.json
  src/components/menu/items/countdown.tsx
  src/components/menu/items/index.ts
  src/components/menu/menu.tsx
  src/components/toolbox/countdown/countdown.module.css
  src/components/toolbox/countdown/countdown.tsx
  src/components/toolbox/countdown/index.ts
  src/components/toolbox/index.ts
Due: eslint --fix, tsc-files --noEmit, prettier --write, stylelint --fix

feat: add shortcut for the countdown timer
  src/components/menu/items/countdown.tsx
  src/components/menu/menu.tsx
  src/components/modals/shortcuts/shortcuts.tsx
Due: eslint --fix, tsc-files --noEmit

style: change tool labels
  src/components/menu/items/notepad.tsx
  src/components/menu/items/pomodoro.tsx
  src/components/modals/shortcuts/shortcuts.tsx
Due: eslint --fix, tsc-files --noEmit

feat: remove the breathing exercises
  src/components/menu/items/breathing-exercise.tsx
  src/components/menu/items/index.ts
  src/components/menu/menu.tsx
  src/components/modals/breathing/breathing.module.css
  src/components/modals/breathing/breathing.tsx
  src/components/modals/breathing/exercise/exercise.module.css
  src/components/modals/breathing/exercise/exercise.tsx
  src/components/modals/breathing/exercise/index.ts
  src/components/modals/breathing/index.ts
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: add lofi radios
  src/components/menu/items/index.ts
  src/components/menu/items/lofi.tsx
  src/components/menu/menu.tsx
  src/components/modals/lofi/index.ts
  src/components/modals/lofi/lofi.module.css
  src/components/modals/lofi/lofi.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: add desktop notice
  src/components/modals/lofi/lofi.module.css
  src/components/modals/lofi/lofi.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: remove lofi modal
  src/components/menu/items/index.ts
  src/components/menu/items/lofi.tsx
  src/components/menu/menu.tsx
  src/components/modals/lofi/index.ts
  src/components/modals/lofi/lofi.module.css
  src/components/modals/lofi/lofi.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

refactor: remove extra hook
  src/hooks/use-sound-effect.ts
Due: eslint --fix, tsc-files --noEmit

refactor: relocate folders
  src/components/categories/categories.tsx
  src/components/categories/category/category.module.css
  src/components/categories/category/category.tsx
  src/components/categories/category/index.ts
  src/components/sounds/sound/favorite/favorite.module.css
  src/components/sounds/sound/favorite/favorite.tsx
  src/components/sounds/sound/favorite/index.ts
  src/components/sounds/sound/index.ts
  src/components/sounds/sound/range/index.ts
  src/components/sounds/sound/range/range.module.css
  src/components/sounds/sound/range/range.tsx
  src/components/sounds/sound/sound.module.css
  src/components/sounds/sound/sound.tsx
  src/components/sounds/sounds.tsx
  src/components/toolbar/menu/divider/divider.module.css
  src/components/toolbar/menu/divider/divider.tsx
  src/components/toolbar/menu/divider/index.ts
  src/components/toolbar/menu/index.ts
  src/components/toolbar/menu/item/index.ts
  src/components/toolbar/menu/item/item.module.css
  src/components/toolbar/menu/item/item.tsx
  src/components/toolbar/menu/items/donate.tsx
  src/components/toolbar/menu/items/index.ts
  src/components/toolbar/menu/items/presets.tsx
  src/components/toolbar/menu/items/share.tsx
  src/components/toolbar/menu/items/shortcuts.tsx
  src/components/toolbar/menu/items/shuffle.tsx
  src/components/toolbar/menu/items/sleep-timer.tsx
  src/components/toolbar/menu/items/source.tsx
  src/components/toolbar/menu/menu.module.css
  src/components/toolbar/menu/menu.tsx
  src/components/toolbar/scroll-to-top/index.ts
  src/components/toolbar/scroll-to-top/scroll-to-top.module.css
  src/components/toolbar/scroll-to-top/scroll-to-top.tsx
  src/components/toolbar/toolbar.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: add reverse timer
  src/components/modals/sleep-timer/sleep-timer.tsx
  src/components/modals/sleep-timer/timer/index.ts
  src/components/modals/sleep-timer/timer/reverse/index.ts
  src/components/modals/sleep-timer/timer/reverse/reverse.module.css
  src/components/modals/sleep-timer/timer/reverse/reverse.tsx
  src/components/modals/sleep-timer/timer/timer.module.css
  src/components/modals/sleep-timer/timer/timer.tsx
  src/components/timer/timer.module.css
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: change shortcuts
  src/components/toolbar/menu/items/sleep-timer.tsx
  src/components/toolbar/menu/menu.tsx
Due: eslint --fix, tsc-files --noEmit

fix: disable the sleep timer when no sound is selected
  src/components/modals/sleep-timer/sleep-timer.tsx
Due: eslint --fix, tsc-files --noEmit

style: minor changes
  src/components/modals/sleep-timer/sleep-timer.module.css
Due: stylelint --fix

style: minor changes
  src/components/toolbox/todo/form/form.module.css
Due: stylelint --fix

feat: add header to todos
  src/components/toolbox/todo/form/form.tsx
  src/components/toolbox/todo/todo.module.css
  src/components/toolbox/todo/todo.tsx
  src/components/toolbox/todo/todos/todos.module.css
  src/components/toolbox/todo/todos/todos.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: add done counter
  src/components/toolbox/todo/todos/todos.tsx
  src/stores/todo.ts
Due: eslint --fix, tsc-files --noEmit

feat: add confetti
  package-lock.json
  package.json
  src/lib/confetti.ts
  src/stores/todo.ts
Due: eslint --fix, tsc-files --noEmit, prettier --write

fix: play sounds on iOS
  src/components/app/app.tsx
  src/contexts/sound.tsx
  src/hooks/use-sound.ts
Due: eslint --fix, tsc-files --noEmit

fix: change audio volume
  src/contexts/sound.tsx
  src/hooks/use-sound.ts
Due: eslint --fix, tsc-files --noEmit

feat: add more sounds
  public/sounds/animals/beehive.mp3
  public/sounds/animals/woodpecker.mp3
  public/sounds/places/restaurant.mp3
  src/data/sounds/animals.tsx
  src/data/sounds/places.tsx
Due: eslint --fix, tsc-files --noEmit

feat: add more sounds
  public/sounds/animals/sheep.mp3
  public/sounds/nature/walk-on-gravel.mp3
  src/data/sounds/animals.tsx
  src/data/sounds/nature.tsx
Due: eslint --fix, tsc-files --noEmit

feat: change and add shortcuts
  src/components/modals/shortcuts/shortcuts.tsx
  src/components/toolbar/menu/items/presets.tsx
  src/components/toolbar/menu/items/sleep-timer.tsx
Due: eslint --fix, tsc-files --noEmit

feat: add more sounds
  public/sounds/rain/rain-on-car-roof.mp3
  public/sounds/things/windshield-wipers.mp3
  src/data/sounds/rain.tsx
  src/data/sounds/things.tsx
Due: eslint --fix, tsc-files --noEmit

feat: add binaural beat generator without styles
  src/components/modals/binaural/binaural.module.css
  src/components/modals/binaural/binaural.tsx
  src/components/modals/binaural/index.ts
  src/components/toolbar/menu/items/binaural.tsx
  src/components/toolbar/menu/items/index.ts
  src/components/toolbar/menu/menu.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: add isochronic tone generator without styles
  src/components/modals/isochronic/index.ts
  src/components/modals/isochronic/isochornic.module.css
  src/components/modals/isochronic/isochronic.tsx
  src/components/toolbar/menu/items/index.ts
  src/components/toolbar/menu/items/isochronic.tsx
  src/components/toolbar/menu/menu.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

style: change icons
  src/components/toolbar/menu/items/binaural.tsx
  src/components/toolbar/menu/items/isochronic.tsx
  src/components/toolbar/menu/menu.tsx
Due: eslint --fix, tsc-files --noEmit

Path conditions:
  eslint --fix: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.astro)
  tsc-files --noEmit: any of: *.{ts,tsx}
  prettier --write: (any of: *.{json,md}) or (any of: *.html)
  stylelint --fix: ((any of: *.css) or (any of: *.astro)) or (any of: *.html)
