Repository remvze/moodist: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, tsc-files --noEmit, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "tsc-files --noEmit"],
  "*.{js,jsx}": "eslint --fix",
  "*.{json,md}": "prettier --write",
  "*.css": "stylelint --fix",
  "*.astro": ["eslint --fix", "stylelint --fix"],
  "*.html": ["prettier --write", "stylelint --fix"]
}

chore(deps): upgrade react to v19
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): upgrade uuid to v14
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): upgrade astro 6
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): migrate @radix-ui components to the new radix-ui namespace
  package.json
  pnpm-lock.yaml
  src/components/checkbox/checkbox.tsx
  src/components/slider/slider.tsx
  src/components/toolbar/menu/item/item.tsx
  src/components/toolbar/menu/menu.tsx
  src/components/tooltip/tooltip.tsx
Due: eslint --fix, tsc-files --noEmit, prettier --write

chore(ts): remove redudant types
  tsconfig.json
Due: prettier --write

refactor: fix linter problems
  biome.json
  package.json
  pnpm-lock.yaml
  src/components/buttons/unselect/unselect.tsx
  src/components/modals/shared/shared.tsx
  src/components/modals/sleep-timer/sleep-timer.tsx
  src/components/modals/sleep-timer/timer/reverse/reverse.tsx
  src/components/modals/sleep-timer/timer/timer.tsx
  src/components/toolbox/countdown/countdown.tsx
  src/components/toolbox/pomodoro/timer/timer.tsx
  src/components/toolbox/todo/todos/todos.tsx
  src/components/tooltip/tooltip.tsx
  src/helpers/download.ts
  src/hooks/use-local-storage.ts
  src/stores/note.ts
Due: eslint --fix, tsc-files --noEmit, prettier --write

chore(deps): upgrade postcss
  package.json
  pnpm-lock.yaml
Due: prettier --write

ci: upgrade action versions
  .github/workflows/build_docker.yml
Due: none

refactor: fix sleep-timer type issue
  .github/workflows/build_docker.yml
  src/components/modals/sleep-timer/sleep-timer.tsx
Due: eslint --fix, tsc-files --noEmit

chore(deps): remove unused dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

Feat: Added a Flowmodoro Timer based on the Pomodoro Timer
  src/components/toolbar/menu/items/flowmodoro.tsx
  src/components/toolbar/menu/items/index.ts
  src/components/toolbar/menu/menu.tsx
  src/components/toolbox/flowmodoro/flowmodoro.module.css
  src/components/toolbox/flowmodoro/flowmodoro.tsx
  src/components/toolbox/flowmodoro/index.ts
  src/components/toolbox/flowmodoro/setting/index.ts
  src/components/toolbox/flowmodoro/setting/setting.module.css
  src/components/toolbox/flowmodoro/setting/setting.tsx
  src/components/toolbox/flowmodoro/tabs/index.ts
  src/components/toolbox/flowmodoro/tabs/tabs.module.css
  src/components/toolbox/flowmodoro/tabs/tabs.tsx
  src/components/toolbox/flowmodoro/timer/index.ts
  src/components/toolbox/flowmodoro/timer/timer.module.css
  src/components/toolbox/flowmodoro/timer/timer.tsx
  src/components/toolbox/index.ts
  src/stores/flowmodoro.ts
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

refactor: remove extra component
  pnpm-workspace.yaml
  src/components/cipher.tsx
Due: eslint --fix, tsc-files --noEmit

fix: reinstall
  pnpm-lock.yaml
Due: none

feat: smoother animation
  src/components/buttons/buttons.module.css
  src/components/buttons/play/play.module.css
  src/components/buttons/unselect/unselect.module.css
  src/components/buttons/unselect/unselect.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: animate the binary text
  src/components/binary.astro
  src/components/binary.tsx
  src/components/source.astro
  tsconfig.json
Due: eslint --fix, tsc-files --noEmit, prettier --write, stylelint --fix

feat: add standard modal elements
  src/components/modal/elements.tsx
  src/components/modal/index.ts
  src/components/modal/modal.module.css
  src/components/modal/modal.tsx
  src/components/modals/binaural/binaural.module.css
  src/components/modals/binaural/binaural.tsx
  src/components/modals/breathing/breathing.module.css
  src/components/modals/breathing/breathing.tsx
  src/components/modals/isochronic/isochornic.module.css
  src/components/modals/isochronic/isochronic.tsx
  src/components/modals/lofi/lofi.module.css
  src/components/modals/lofi/lofi.tsx
  src/components/modals/presets/presets.module.css
  src/components/modals/presets/presets.tsx
  src/components/modals/settings/settings.module.css
  src/components/modals/settings/settings.tsx
  src/components/modals/share-link/share-link.module.css
  src/components/modals/share-link/share-link.tsx
  src/components/modals/shared/shared.module.css
  src/components/modals/shared/shared.tsx
  src/components/modals/shortcuts/shortcuts.module.css
  src/components/modals/shortcuts/shortcuts.tsx
  src/components/modals/sleep-timer/sleep-timer.module.css
  src/components/modals/sleep-timer/sleep-timer.tsx
  src/components/reload/reload-modal.tsx
  src/components/reload/reload.module.css
  src/components/toolbar/menu/menu.tsx
  src/components/toolbox/countdown/countdown.module.css
  src/components/toolbox/countdown/countdown.tsx
  src/components/toolbox/notepad/notepad.tsx
  src/components/toolbox/pomodoro/pomodoro.tsx
  src/components/toolbox/pomodoro/setting/setting.module.css
  src/components/toolbox/pomodoro/setting/setting.tsx
  src/components/toolbox/todo/todo.module.css
  src/components/toolbox/todo/todo.tsx
  src/styles/base/base.css
  tsconfig.json
Due: eslint --fix, tsc-files --noEmit, prettier --write, stylelint --fix

chore(release): 2.6.1
  CHANGELOG.md
  package.json
Due: prettier --write

fix(docker): set OCI image labels
  Dockerfile
Due: none

fix: update outdated YouTube lofi embeds
  src/components/modals/lofi/lofi.tsx
Due: eslint --fix, tsc-files --noEmit

feat(sounds): replace static thunder loop with a procedural generator
  CREDITS.md
  public/sounds/rain/thunder.mp3
  public/sounds/rain/thunder/crack-1.mp3
  public/sounds/rain/thunder/crack-10.mp3
  public/sounds/rain/thunder/crack-11.mp3
  public/sounds/rain/thunder/crack-12.mp3
  public/sounds/rain/thunder/crack-13.mp3
  public/sounds/rain/thunder/crack-14.mp3
  public/sounds/rain/thunder/crack-2.mp3
  public/sounds/rain/thunder/crack-3.mp3
  public/sounds/rain/thunder/crack-4.mp3
  public/sounds/rain/thunder/crack-5.mp3
  public/sounds/rain/thunder/crack-6.mp3
  public/sounds/rain/thunder/crack-7.mp3
  public/sounds/rain/thunder/crack-8.mp3
  public/sounds/rain/thunder/crack-9.mp3
  public/sounds/rain/thunder/tail-1.mp3
  public/sounds/rain/thunder/tail-10.mp3
  public/sounds/rain/thunder/tail-11.mp3
  public/sounds/rain/thunder/tail-12.mp3
  public/sounds/rain/thunder/tail-13.mp3
  public/sounds/rain/thunder/tail-14.mp3
  public/sounds/rain/thunder/tail-2.mp3
  public/sounds/rain/thunder/tail-3.mp3
  public/sounds/rain/thunder/tail-4.mp3
  public/sounds/rain/thunder/tail-5.mp3
  public/sounds/rain/thunder/tail-6.mp3
  public/sounds/rain/thunder/tail-7.mp3
  public/sounds/rain/thunder/tail-8.mp3
  public/sounds/rain/thunder/tail-9.mp3
  src/components/sounds/sound/sound.tsx
  src/data/sounds/rain.tsx
  src/data/types.d.ts
  src/hooks/use-thunder.ts
  src/lib/thunder/config.ts
Due: eslint --fix, tsc-files --noEmit, prettier --write

fix(sounds): drop two thunder samples with unwanted background noise
  CREDITS.md
  public/sounds/rain/thunder/crack-10.mp3
  public/sounds/rain/thunder/crack-11.mp3
  public/sounds/rain/thunder/crack-12.mp3
  public/sounds/rain/thunder/crack-13.mp3
  public/sounds/rain/thunder/crack-14.mp3
  public/sounds/rain/thunder/crack-9.mp3
  public/sounds/rain/thunder/tail-10.mp3
  public/sounds/rain/thunder/tail-11.mp3
  public/sounds/rain/thunder/tail-12.mp3
  public/sounds/rain/thunder/tail-13.mp3
  public/sounds/rain/thunder/tail-14.mp3
  public/sounds/rain/thunder/tail-9.mp3
  src/lib/thunder/config.ts
Due: eslint --fix, tsc-files --noEmit, prettier --write

feat: improve the settings modal
  src/components/modals/settings/settings.module.css
  src/components/modals/settings/settings.tsx
  src/components/slider/slider.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: add labels to countdown timer
  src/components/toolbox/countdown/countdown.module.css
  src/components/toolbox/countdown/countdown.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

fix: lock the body on pomodoro settings
  src/components/toolbox/pomodoro/setting/setting.tsx
Due: eslint --fix, tsc-files --noEmit

style: better icon alignment
  src/components/modals/breathing/exercise/exercise.module.css
  src/components/toolbar/menu/item/item.module.css
  src/styles/base/base.css
Due: stylelint --fix

feat: add fade to the category icons
  src/components/categories/category-icons/category-icons.module.css
  src/components/categories/category-icons/category-icons.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

style: decrease font size
  src/components/hero.astro
Due: eslint --fix, stylelint --fix

feat: add shortcut to toggle themes
  src/components/modals/shortcuts/shortcuts.tsx
  src/components/toolbar/menu/items/theme.tsx
  src/components/toolbar/menu/menu.tsx
  src/lib/theme.ts
Due: eslint --fix, tsc-files --noEmit

feat: remove the jump for favorites
  src/components/sounds/sound/favorite/favorite.module.css
  src/components/sounds/sound/favorite/favorite.tsx
  src/components/sounds/sound/sound.module.css
  src/components/sounds/sound/sound.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

fix: better spacing for sound cards
  src/components/sounds/sound/range/range.module.css
  src/components/sounds/sound/sound.module.css
  src/components/sounds/sound/sound.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: add premade sets and save button
  src/components/buttons/buttons.tsx
  src/components/buttons/play/play.module.css
  src/components/buttons/save/index.ts
  src/components/buttons/save/save.module.css
  src/components/buttons/save/save.tsx
  src/components/buttons/unselect/unselect.tsx
  src/components/modals/presets/list/list.tsx
  src/components/modals/presets/new/new.tsx
  src/components/modals/presets/presets.tsx
  src/components/starter-mixes/starter-mixes.module.css
  src/components/starter-mixes/starter-mixes.tsx
  src/components/toolbar/menu/menu.tsx
  src/components/toolbar/toolbar.module.css
  src/components/toolbar/toolbar.tsx
  src/constants/events.ts
  src/stores/sound.ts
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: add sound search
  package.json
  pnpm-lock.yaml
  src/components/app/app.tsx
  src/components/categories/category-icons/category-icons.module.css
  src/components/categories/category-icons/category-icons.tsx
  src/components/modals/shortcuts/shortcuts.tsx
  src/components/sound-search/sound-search.module.css
  src/components/sound-search/sound-search.tsx
  src/components/starter-mixes/starter-mixes.tsx
  src/components/toolbar/menu/menu.tsx
  src/constants/events.ts
Due: eslint --fix, tsc-files --noEmit, prettier --write, stylelint --fix

fix: prevent default on shift+space
  src/components/buttons/play/play.tsx
Due: eslint --fix, tsc-files --noEmit

feat: add oscillation
  src/components/sounds/sound/sound.module.css
  src/components/sounds/sound/sound.tsx
  src/hooks/use-sound.ts
  src/stores/sound.ts
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

fix: duplicates on reload
  src/components/modals/presets/new/new.tsx
  src/stores/preset.ts
  src/stores/todo.ts
Due: eslint --fix, tsc-files --noEmit

chore(release): 3.1.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix: remove extra margin from cmdk
  src/components/sound-search/sound-search.module.css
  src/components/sound-search/sound-search.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

fix: docker
  .github/workflows/build_docker.yml
  Dockerfile
Due: none

chore(release): 3.1.1
  CHANGELOG.md
  package.json
Due: prettier --write

feat: polish flowmodoro further
  src/components/toolbox/flowmodoro/setting/setting.module.css
  src/components/toolbox/flowmodoro/setting/setting.tsx
  src/components/toolbox/flowmodoro/tabs/tabs.module.css
  src/components/toolbox/flowmodoro/timer/timer.module.css
Due: eslint --fix, tsc-files --noEmit, stylelint --fix
