Repository remvze/moodist: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, tsc-files --noEmit, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "tsc-files --noEmit"],
  "*.{js,jsx}": "eslint --fix",
  "*.{json,md}": "prettier --write",
  "*.css": "stylelint --fix",
  "*.astro": ["eslint --fix", "stylelint --fix"],
  "*.html": ["prettier --write", "stylelint --fix"]
}

test: write tests for motion lib
  src/lib/tests/motion.test.ts
Due: eslint --fix, tsc-files --noEmit

accessibility: ignore icons for screen readers
  src/components/buttons/play/play.tsx
  src/components/categories/donate/donate.tsx
  src/components/category/category.tsx
  src/components/hero.astro
  src/components/sound/favorite/favorite.tsx
  src/components/sound/sound.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: add move up and down functionality
  package-lock.json
  package.json
  src/components/toolbox/countdown-timer/countdown-timer.tsx
  src/components/toolbox/countdown-timer/form/form.tsx
  src/components/toolbox/countdown-timer/timers/timer/timer.tsx
  src/components/toolbox/countdown-timer/timers/timer/toolbar/index.ts
  src/components/toolbox/countdown-timer/timers/timer/toolbar/toolbar.module.css
  src/components/toolbox/countdown-timer/timers/timer/toolbar/toolbar.tsx
  src/components/toolbox/countdown-timer/timers/timers.tsx
  src/stores/countdown-timers/index.ts
Due: eslint --fix, tsc-files --noEmit, prettier --write, stylelint --fix

feat: replace reverse timer
  .eslintrc.json
  src/components/toolbox/countdown-timer/timers/timer/reverse-timer/index.ts
  src/components/toolbox/countdown-timer/timers/timer/reverse-timer/reverse-timer.module.css
  src/components/toolbox/countdown-timer/timers/timer/reverse-timer/reverse-timer.tsx
  src/components/toolbox/countdown-timer/timers/timer/timer.module.css
  src/components/toolbox/countdown-timer/timers/timer/timer.tsx
Due: eslint --fix, tsc-files --noEmit, prettier --write, stylelint --fix

fix: icons path
  src/components/toolbox/countdown-timer/timers/timer/timer.tsx
Due: eslint --fix, tsc-files --noEmit

feat: add simple breathing exercise tool
  src/components/menu/items/breathing-exercise.tsx
  src/components/menu/items/index.ts
  src/components/menu/menu.tsx
  src/components/toolbox/breathing/breathing.module.css
  src/components/toolbox/breathing/breathing.tsx
  src/components/toolbox/breathing/exercise/exercise.module.css
  src/components/toolbox/breathing/exercise/exercise.tsx
  src/components/toolbox/breathing/exercise/index.ts
  src/components/toolbox/breathing/index.ts
  src/components/toolbox/index.ts
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: add shortcut for breathing exercise
  src/components/menu/items/breathing-exercise.tsx
  src/components/menu/menu.tsx
  src/components/modals/shortcuts/shortcuts.tsx
Due: eslint --fix, tsc-files --noEmit

style: change gradient
  src/components/toolbox/breathing/exercise/exercise.module.css
Due: stylelint --fix

style: reorder menu items
  src/components/menu/menu.tsx
Due: eslint --fix, tsc-files --noEmit

feat: remove the countdown timer
  src/components/about.astro
  src/components/menu/items/countdown-timer.tsx
  src/components/menu/menu.tsx
  src/components/modals/shortcuts/shortcuts.tsx
  src/components/toolbox/countdown-timer/countdown-timer.module.css
  src/components/toolbox/countdown-timer/countdown-timer.tsx
  src/components/toolbox/countdown-timer/form/field/field.module.css
  src/components/toolbox/countdown-timer/form/field/field.tsx
  src/components/toolbox/countdown-timer/form/field/index.ts
  src/components/toolbox/countdown-timer/form/form.module.css
  src/components/toolbox/countdown-timer/form/form.tsx
  src/components/toolbox/countdown-timer/form/index.ts
  src/components/toolbox/countdown-timer/index.ts
  src/components/toolbox/countdown-timer/timers/index.ts
  src/components/toolbox/countdown-timer/timers/notice/index.ts
  src/components/toolbox/countdown-timer/timers/notice/notice.module.css
  src/components/toolbox/countdown-timer/timers/notice/notice.tsx
  src/components/toolbox/countdown-timer/timers/timer/index.ts
  src/components/toolbox/countdown-timer/timers/timer/timer.module.css
  src/components/toolbox/countdown-timer/timers/timer/timer.tsx
  src/components/toolbox/countdown-timer/timers/timer/toolbar/index.ts
  src/components/toolbox/countdown-timer/timers/timer/toolbar/toolbar.module.css
  src/components/toolbox/countdown-timer/timers/timer/toolbar/toolbar.tsx
  src/components/toolbox/countdown-timer/timers/timers.module.css
  src/components/toolbox/countdown-timer/timers/timers.tsx
  src/components/toolbox/index.ts
  src/hooks/use-alarm.ts
  src/stores/alarm/index.ts
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

refactor: remove the timer store
  src/components/store-consumer/store-consumer.tsx
  src/stores/countdown-timers/index.ts
Due: eslint --fix, tsc-files --noEmit

perf: improve the breathing cricle
  src/components/toolbox/breathing/exercise/exercise.tsx
Due: eslint --fix, tsc-files --noEmit

feat: fix modal and scrollbar layout shift
  src/components/modal/modal.tsx
  src/components/toolbar/toolbar.module.css
  src/styles/base/base.css
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: add breathing exercises tool
  src/components/tools/about.astro
  src/components/tools/breathing/breathing.module.css
  src/components/tools/breathing/breathing.tsx
  src/components/tools/breathing/index.ts
  src/components/tools/hero.astro
  src/pages/tools/breathing-exercises.astro
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: add pomodoro timer
  src/components/tools/generics/button/button.module.css
  src/components/tools/generics/button/button.tsx
  src/components/tools/generics/button/index.ts
  src/components/tools/pomodoro/index.ts
  src/components/tools/pomodoro/pomodoro.module.css
  src/components/tools/pomodoro/pomodoro.tsx
  src/components/tools/pomodoro/setting/index.ts
  src/components/tools/pomodoro/setting/setting.module.css
  src/components/tools/pomodoro/setting/setting.tsx
  src/components/tools/pomodoro/tabs/index.ts
  src/components/tools/pomodoro/tabs/tabs.module.css
  src/components/tools/pomodoro/tabs/tabs.tsx
  src/pages/tools/pomodoro.astro
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

style: change description
  src/pages/tools/pomodoro.astro
Due: eslint --fix, stylelint --fix

feat: add notepad tool
  src/components/tools/notepad/button/button.module.css
  src/components/tools/notepad/button/button.tsx
  src/components/tools/notepad/button/index.ts
  src/components/tools/notepad/index.ts
  src/components/tools/notepad/notepad.module.css
  src/components/tools/notepad/notepad.tsx
  src/pages/tools/notepad.astro
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: update the menu items
  src/components/menu/items/breathing-exercise.tsx
  src/components/menu/items/notepad.tsx
  src/components/menu/items/pomodoro.tsx
  src/components/menu/menu.tsx
  src/components/toolbox/breathing/breathing.module.css
  src/components/toolbox/breathing/breathing.tsx
  src/components/toolbox/breathing/exercise/exercise.module.css
  src/components/toolbox/breathing/exercise/exercise.tsx
  src/components/toolbox/breathing/exercise/index.ts
  src/components/toolbox/breathing/index.ts
  src/components/toolbox/generics/button/button.module.css
  src/components/toolbox/generics/button/button.tsx
  src/components/toolbox/generics/button/index.ts
  src/components/toolbox/index.ts
  src/components/toolbox/notepad/button/button.module.css
  src/components/toolbox/notepad/button/button.tsx
  src/components/toolbox/notepad/button/index.ts
  src/components/toolbox/notepad/index.ts
  src/components/toolbox/notepad/notepad.module.css
  src/components/toolbox/notepad/notepad.tsx
  src/components/toolbox/pomodoro/index.ts
  src/components/toolbox/pomodoro/pomodoro.module.css
  src/components/toolbox/pomodoro/pomodoro.tsx
  src/components/toolbox/pomodoro/setting/index.ts
  src/components/toolbox/pomodoro/setting/setting.module.css
  src/components/toolbox/pomodoro/setting/setting.tsx
  src/components/toolbox/pomodoro/tabs/index.ts
  src/components/toolbox/pomodoro/tabs/tabs.module.css
  src/components/toolbox/pomodoro/tabs/tabs.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: remove all tools
  src/components/about.astro
  src/components/menu/items/breathing-exercise.tsx
  src/components/menu/items/countdown-timer.tsx
  src/components/menu/items/index.ts
  src/components/menu/items/notepad.tsx
  src/components/menu/items/pomodoro.tsx
  src/components/menu/menu.tsx
  src/components/modals/shortcuts/shortcuts.tsx
  src/components/tools/about.astro
  src/components/tools/breathing/breathing.module.css
  src/components/tools/breathing/breathing.tsx
  src/components/tools/breathing/index.ts
  src/components/tools/generics/button/button.module.css
  src/components/tools/generics/button/button.tsx
  src/components/tools/generics/button/index.ts
  src/components/tools/hero.astro
  src/components/tools/notepad/button/button.module.css
  src/components/tools/notepad/button/button.tsx
  src/components/tools/notepad/button/index.ts
  src/components/tools/notepad/index.ts
  src/components/tools/notepad/notepad.module.css
  src/components/tools/notepad/notepad.tsx
  src/components/tools/pomodoro/index.ts
  src/components/tools/pomodoro/pomodoro.module.css
  src/components/tools/pomodoro/pomodoro.tsx
  src/components/tools/pomodoro/setting/index.ts
  src/components/tools/pomodoro/setting/setting.module.css
  src/components/tools/pomodoro/setting/setting.tsx
  src/components/tools/pomodoro/tabs/index.ts
  src/components/tools/pomodoro/tabs/tabs.module.css
  src/components/tools/pomodoro/tabs/tabs.tsx
  src/pages/tools/breathing-exercises.astro
  src/pages/tools/notepad.astro
  src/pages/tools/pomodoro.astro
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: add new logo
  public/logo.svg
  src/components/hero.astro
Due: eslint --fix, stylelint --fix

style: add pattern
  src/components/hero.astro
Due: eslint --fix, stylelint --fix

style: center icons
  src/components/sound/sound.module.css
Due: stylelint --fix

style: minor changes
  src/components/categories/donate/donate.module.css
  src/components/categories/donate/donate.tsx
  src/components/category/category.module.css
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: change shortcuts
  src/components/menu/items/presets.tsx
  src/components/menu/menu.tsx
  src/components/modals/shortcuts/shortcuts.module.css
  src/components/modals/shortcuts/shortcuts.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

style: change logo color
  public/logo.svg
Due: none

feat: add breathing exercises and other tools
  src/components/tools/about.astro
  src/components/tools/breathing/breathing.module.css
  src/components/tools/breathing/breathing.tsx
  src/components/tools/breathing/exercise/exercise.module.css
  src/components/tools/breathing/exercise/exercise.tsx
  src/components/tools/breathing/exercise/index.ts
  src/components/tools/breathing/index.ts
  src/components/tools/generics/button/button.module.css
  src/components/tools/generics/button/button.tsx
  src/components/tools/generics/button/index.ts
  src/components/tools/hero.astro
  src/components/tools/notepad/button/button.module.css
  src/components/tools/notepad/button/button.tsx
  src/components/tools/notepad/button/index.ts
  src/components/tools/notepad/index.ts
  src/components/tools/notepad/notepad.module.css
  src/components/tools/notepad/notepad.tsx
  src/components/tools/pomodoro/index.ts
  src/components/tools/pomodoro/pomodoro.module.css
  src/components/tools/pomodoro/pomodoro.tsx
  src/components/tools/pomodoro/setting/index.ts
  src/components/tools/pomodoro/setting/setting.module.css
  src/components/tools/pomodoro/setting/setting.tsx
  src/components/tools/pomodoro/tabs/index.ts
  src/components/tools/pomodoro/tabs/tabs.module.css
  src/components/tools/pomodoro/tabs/tabs.tsx
  src/pages/tools/breathing-exercises.astro
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

refactor: refactor the breathing tool
  src/components/tools/breathing/exercise/exercise.tsx
Due: eslint --fix, tsc-files --noEmit

feat: add notepad tool page
  src/components/tools/notepad/notepad.tsx
  src/pages/tools/notepad.astro
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: add pomodoro timer tool
  src/components/timer/timer.module.css
  src/components/timer/timer.tsx
  src/components/tools/pomodoro/pomodoro.tsx
  src/pages/tools/pomodoro.astro
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: add Moodist description to tools
  src/components/special-button/special-button.tsx
  src/components/tools/about.astro
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

style: minor change
  src/components/source.astro
Due: eslint --fix, stylelint --fix

style: minor change
  src/components/hero.astro
Due: eslint --fix, stylelint --fix

feat: add countdown timer
  package-lock.json
  src/components/store-consumer/store-consumer.tsx
  src/components/tools/timer/form/field/field.module.css
  src/components/tools/timer/form/field/field.tsx
  src/components/tools/timer/form/field/index.ts
  src/components/tools/timer/form/form.module.css
  src/components/tools/timer/form/form.tsx
  src/components/tools/timer/form/index.ts
  src/components/tools/timer/index.ts
  src/components/tools/timer/timer.tsx
  src/components/tools/timer/timers/index.ts
  src/components/tools/timer/timers/notice/index.ts
  src/components/tools/timer/timers/notice/notice.module.css
  src/components/tools/timer/timers/notice/notice.tsx
  src/components/tools/timer/timers/timer/index.ts
  src/components/tools/timer/timers/timer/timer.module.css
  src/components/tools/timer/timers/timer/timer.tsx
  src/components/tools/timer/timers/timer/toolbar/index.ts
  src/components/tools/timer/timers/timer/toolbar/toolbar.module.css
  src/components/tools/timer/timers/timer/toolbar/toolbar.tsx
  src/components/tools/timer/timers/timers.module.css
  src/components/tools/timer/timers/timers.tsx
  src/hooks/use-alarm.ts
  src/pages/tools/countdown-timer.astro
  src/stores/alarm.ts
  src/stores/timers.ts
Due: eslint --fix, tsc-files --noEmit, prettier --write, stylelint --fix

feat: add store to the notepad
  src/components/tools/notepad/index.ts
  src/components/tools/notepad/index.tsx
Due: eslint --fix, tsc-files --noEmit

feat: add breathing exercise
  src/components/menu/items/breathing-exercise.tsx
  src/components/menu/items/index.ts
  src/components/menu/menu.tsx
  src/components/modals/breathing/breathing.module.css
  src/components/modals/breathing/breathing.tsx
  src/components/modals/breathing/exercise/exercise.module.css
  src/components/modals/breathing/exercise/exercise.tsx
  src/components/modals/breathing/exercise/index.ts
  src/components/modals/breathing/index.ts
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

fix: remove extra hook
  src/hooks/use-alarm.ts
Due: eslint --fix, tsc-files --noEmit

feat: add breathing exercise shortcut
  src/components/modals/shortcuts/shortcuts.tsx
Due: eslint --fix, tsc-files --noEmit

style: add binary pattern
  src/components/source.astro
  src/helpers/binary.ts
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

style: remove pointer event
  src/components/source.astro
Due: eslint --fix, stylelint --fix
