Repository remvze/moodist: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, tsc-files --noEmit, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "tsc-files --noEmit"],
  "*.{js,jsx}": "eslint --fix",
  "*.{json,md}": "prettier --write",
  "*.css": "stylelint --fix",
  "*.astro": ["eslint --fix", "stylelint --fix"],
  "*.html": ["prettier --write", "stylelint --fix"]
}

feat: implement favorite sounds functionality
  src/components/categories/categories.tsx
  src/components/category/category.tsx
  src/components/sound/sound.module.css
  src/components/sound/sound.tsx
  src/components/sounds/sounds.tsx
  src/components/store-consumer/store-consumer.tsx
  src/store/favorite/favorite.actions.ts
  src/store/favorite/favorite.state.ts
  src/store/favorite/index.ts
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: reorder sounds in favorites
  src/components/categories/categories.tsx
Due: eslint --fix, tsc-files --noEmit

fix: fix some types
  src/components/categories/categories.tsx
  src/components/category/category.tsx
Due: eslint --fix, tsc-files --noEmit

style: change like color
  src/components/sound/sound.module.css
Due: stylelint --fix

refactor: seperate favorite button
  src/components/sound/like/index.ts
  src/components/sound/like/like.module.css
  src/components/sound/like/like.tsx
  src/components/sound/sound.module.css
  src/components/sound/sound.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: implement shuffle functionality
  src/components/buttons/buttons.module.css
  src/components/buttons/buttons.tsx
  src/components/buttons/index.ts
  src/components/categories/categories.tsx
  src/components/play-button/index.ts
  src/components/play-button/play-button.module.css
  src/components/play-button/play-button.tsx
  src/helpers/random.ts
  src/store/sound/sound.actions.ts
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

fix: add aria label to shuffle button
  src/components/buttons/buttons.tsx
Due: eslint --fix, tsc-files --noEmit

feat: implement unselect all functionality
  src/components/buttons/buttons.module.css
  src/components/buttons/buttons.tsx
  src/helpers/random.ts
  src/store/sound/index.ts
  src/store/sound/sound.actions.ts
  src/store/sound/sound.state.ts
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

fix: remove history on select
  src/components/buttons/buttons.module.css
  src/components/buttons/buttons.tsx
  src/store/sound/sound.actions.ts
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

style: remove opacity effect on disabled
  src/components/buttons/buttons.module.css
Due: stylelint --fix

feat: add help text
  src/components/categories/categories.module.css
  src/components/categories/categories.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: add simple tooltip
  package-lock.json
  package.json
  src/components/buttons/buttons.module.css
  src/components/buttons/buttons.tsx
Due: eslint --fix, tsc-files --noEmit, prettier --write, stylelint --fix

feat: add basic animations with Framer Motion
  package-lock.json
  package.json
  src/components/buttons/buttons.tsx
  src/components/categories/categories.module.css
  src/components/categories/categories.tsx
  src/components/category/category.tsx
Due: eslint --fix, tsc-files --noEmit, prettier --write, stylelint --fix

fix: fix some animation issues
  src/components/buttons/buttons.tsx
  src/components/category/category.tsx
Due: eslint --fix, tsc-files --noEmit

refactor: seperate buttons
  src/components/buttons/buttons.module.css
  src/components/buttons/buttons.tsx
  src/components/buttons/play/index.ts
  src/components/buttons/play/play.module.css
  src/components/buttons/play/play.tsx
  src/components/buttons/unselect/index.ts
  src/components/buttons/unselect/unselect.module.css
  src/components/buttons/unselect/unselect.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

fix: add keys to filler elements
  src/components/sounds/sounds.tsx
Due: eslint --fix, tsc-files --noEmit

style: add smooth transition
  src/components/sound/like/like.module.css
  src/components/sound/like/like.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

style: change border to shadow
  src/components/sound/sound.module.css
Due: stylelint --fix

style: add animation to more/less button
  src/components/sounds/sounds.tsx
Due: eslint --fix, tsc-files --noEmit

refactor: seperate motion variants
  src/components/buttons/unselect/unselect.tsx
  src/components/category/category.tsx
  src/components/sound/like/like.tsx
  src/components/sounds/sounds.tsx
  src/lib/motion.ts
Due: eslint --fix, tsc-files --noEmit

style: decrease scale animation
  src/components/sounds/sounds.tsx
Due: eslint --fix, tsc-files --noEmit

refactor: remove seperate favorite store
  src/components/categories/categories.tsx
  src/components/sound/like/like.tsx
  src/components/store-consumer/store-consumer.tsx
  src/store/favorite/favorite.actions.ts
  src/store/favorite/favorite.state.ts
  src/store/favorite/index.ts
  src/store/sound/sound.actions.ts
  src/store/sound/sound.state.ts
Due: eslint --fix, tsc-files --noEmit

refactor: remove seperate playing context
  src/components/buttons/play/play.tsx
  src/components/categories/categories.tsx
  src/components/sound/sound.tsx
  src/contexts/play.tsx
  src/store/sound/sound.actions.ts
  src/store/sound/sound.state.ts
Due: eslint --fix, tsc-files --noEmit

refactor: seperate irrelevant logic
  src/components/app/app.tsx
  src/components/app/index.ts
  src/components/categories/categories.tsx
  src/pages/index.astro
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

refactor: seperate common types
  src/components/app/app.tsx
  src/components/categories/categories.tsx
  src/components/category/category.tsx
  src/components/sound/sound.tsx
  src/components/sounds/sounds.tsx
  src/data/types.d.ts
Due: eslint --fix, tsc-files --noEmit

refactor: sort interface keys
  .eslintrc.json
  package-lock.json
  package.json
  src/components/sound/sound.tsx
  src/components/sounds/sounds.tsx
  src/data/sounds.tsx
  src/data/types.d.ts
  src/hooks/use-sound.ts
  src/store/sound/sound.actions.ts
  src/store/sound/sound.state.ts
Due: eslint --fix, tsc-files --noEmit, prettier --write

fix: change icon path
  src/data/sounds.tsx
Due: eslint --fix, tsc-files --noEmit

feat: add deep merge to Zustand Persist
  .eslintrc.json
  package-lock.json
  package.json
  src/store/sound/index.ts
Due: eslint --fix, tsc-files --noEmit, prettier --write

fix: set aria label to ID
  src/components/sound/range/range.tsx
  src/components/sound/sound.tsx
Due: eslint --fix, tsc-files --noEmit

feat: add more sounds
  public/sounds/things/clock.mp3
  public/sounds/things/keyboard.mp3
  public/sounds/things/paper.mp3
  public/sounds/things/typewriter.mp3
  public/sounds/things/wind-chimes.mp3
  src/data/sounds.tsx
Due: eslint --fix, tsc-files --noEmit

feat: create reusable tooltip
  src/components/buttons/unselect/unselect.tsx
  src/components/tooltip/index.ts
  src/components/tooltip/tooltip.module.css
  src/components/tooltip/tooltip.tsx
  src/lib/motion.ts
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

refactor: rename component
  src/components/sound/favorite/favorite.module.css
  src/components/sound/favorite/favorite.tsx
  src/components/sound/favorite/index.ts
  src/components/sound/like/index.ts
  src/components/sound/sound.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

refactor: better tooltip
  src/components/buttons/unselect/unselect.tsx
  src/components/tooltip/tooltip.tsx
Due: eslint --fix, tsc-files --noEmit

style: add text animation
  src/components/tooltip/tooltip.tsx
Due: eslint --fix, tsc-files --noEmit

feat: implement basic snackbar
  src/components/app/app.tsx
  src/components/buttons/play/play.tsx
  src/components/snackbar/index.ts
  src/components/snackbar/snackbar.module.css
  src/components/snackbar/snackbar.tsx
  src/contexts/snackbar.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: add color noise
  public/sounds/noise/brown-noise.wav
  public/sounds/noise/pink-noise.wav
  public/sounds/noise/white-noise.wav
  src/data/sounds.tsx
Due: eslint --fix, tsc-files --noEmit

style: change button animation
  src/components/buttons/unselect/unselect.tsx
Due: eslint --fix, tsc-files --noEmit
