Repository remvze/moodist: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, tsc-files --noEmit, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "tsc-files --noEmit"],
  "*.{js,jsx}": "eslint --fix",
  "*.{json,md}": "prettier --write",
  "*.css": "stylelint --fix",
  "*.astro": ["eslint --fix", "stylelint --fix"],
  "*.html": ["prettier --write", "stylelint --fix"]
}

refactor: migrate to Astro components
  src/components/about.astro
  src/components/about/about.module.css
  src/components/about/about.tsx
  src/components/about/index.ts
  src/components/donate.astro
  src/components/donate/donate.module.css
  src/components/donate/donate.tsx
  src/components/donate/index.ts
  src/components/footer.astro
  src/components/footer/footer.module.css
  src/components/footer/footer.tsx
  src/components/footer/index.ts
  src/components/hero.astro
  src/components/hero/hero.module.css
  src/components/hero/hero.tsx
  src/components/hero/index.ts
  src/components/source.astro
  src/components/source/index.ts
  src/components/source/source.module.css
  src/components/source/source.tsx
  src/pages/index.astro
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

chore: update README file
  README.md
Due: prettier --write

refactor: use nullish operator
  src/hooks/use-sound-effect.ts
  src/hooks/use-sound.ts
Due: eslint --fix, tsc-files --noEmit

refactor: rename some functions
  src/components/sound/sound.tsx
Due: eslint --fix, tsc-files --noEmit

chore: add washing machine sound
  public/sounds/things/washing-machine.mp3
  src/data/sounds/things.tsx
Due: eslint --fix, tsc-files --noEmit

chore: add more sounds
  public/sounds/nature/jungle.mp3
  public/sounds/places/laundry-room.mp3
  src/data/sounds/nature.tsx
  src/data/sounds/places.tsx
Due: eslint --fix, tsc-files --noEmit

chore(release): 1.5.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

refactor: rename stores folder
  src/components/app/app.tsx
  src/components/buttons/play/play.tsx
  src/components/buttons/unselect/unselect.tsx
  src/components/menu/items/notepad.tsx
  src/components/menu/items/pomodoro.tsx
  src/components/menu/items/share.tsx
  src/components/menu/items/shuffle.tsx
  src/components/menu/menu.tsx
  src/components/modals/presets/list/list.tsx
  src/components/modals/presets/new/new.tsx
  src/components/modals/share-link/share-link.tsx
  src/components/modals/shared/shared.tsx
  src/components/modals/sleep-timer/sleep-timer.tsx
  src/components/shuffle/shuffle.tsx
  src/components/sound/favorite/favorite.tsx
  src/components/sound/range/range.tsx
  src/components/sound/sound.tsx
  src/components/store-consumer/store-consumer.tsx
  src/components/toolbox/notepad/notepad.tsx
  src/components/toolbox/pomodoro/pomodoro.tsx
  src/hooks/use-sound.ts
  src/stores/index.ts
  src/stores/loading/index.ts
  src/stores/note/index.ts
  src/stores/note/note.actions.ts
  src/stores/note/note.state.ts
  src/stores/pomodoro/index.ts
  src/stores/preset/index.ts
  src/stores/sound/index.ts
  src/stores/sound/sound.actions.ts
  src/stores/sound/sound.state.ts
Due: eslint --fix, tsc-files --noEmit

refactor: change stores structure
  src/components/app/app.tsx
  src/components/buttons/play/play.tsx
  src/components/buttons/unselect/unselect.tsx
  src/components/menu/items/notepad.tsx
  src/components/menu/items/pomodoro.tsx
  src/components/menu/items/share.tsx
  src/components/menu/items/shuffle.tsx
  src/components/menu/menu.tsx
  src/components/modals/presets/list/list.tsx
  src/components/modals/presets/new/new.tsx
  src/components/modals/share-link/share-link.tsx
  src/components/modals/shared/shared.tsx
  src/components/modals/sleep-timer/sleep-timer.tsx
  src/components/shuffle/shuffle.tsx
  src/components/sound/favorite/favorite.tsx
  src/components/sound/range/range.tsx
  src/components/sound/sound.tsx
  src/components/store-consumer/store-consumer.tsx
  src/components/toolbox/notepad/notepad.tsx
  src/components/toolbox/pomodoro/pomodoro.tsx
  src/hooks/use-sound.ts
  src/stores/index.ts
Due: eslint --fix, tsc-files --noEmit

feat: add active indicator for sleep timer
  src/components/menu/items/sleep-timer.tsx
  src/components/modals/sleep-timer/sleep-timer.tsx
  src/stores/sleep-timer/index.ts
Due: eslint --fix, tsc-files --noEmit

style: add focus state
  src/components/modals/sleep-timer/sleep-timer.module.css
Due: stylelint --fix

refactor: add JSDoc for helper functions
  src/helpers/counter.ts
  src/helpers/download.ts
  src/helpers/number.ts
  src/helpers/random.ts
  src/helpers/styles.ts
Due: eslint --fix, tsc-files --noEmit

refactor: add JSDoc for custom hooks
  src/hooks/use-close-listener.ts
  src/hooks/use-copy.ts
  src/hooks/use-keyboard-button.ts
  src/hooks/use-local-storage.ts
  src/hooks/use-sound-effect.ts
  src/hooks/use-sound.ts
  src/hooks/use-ssr.ts
Due: eslint --fix, tsc-files --noEmit

refactor: write JSDoc for libs
  src/lib/event.ts
  src/lib/modal.ts
  src/lib/motion.ts
  src/lib/sounds.ts
Due: eslint --fix, tsc-files --noEmit

refactor: add description for events
  src/constants/events.ts
Due: eslint --fix, tsc-files --noEmit

feat: add ID to presets
  package-lock.json
  package.json
  src/stores/preset/index.ts
Due: eslint --fix, tsc-files --noEmit, prettier --write

refactor: use the ID instead of index
  src/components/modals/presets/list/list.tsx
  src/stores/preset/index.ts
Due: eslint --fix, tsc-files --noEmit

refactor: separate the migration
  src/stores/preset/index.ts
Due: eslint --fix, tsc-files --noEmit

feat: add countdown timer structure
  src/components/menu/items/index.ts
  src/components/menu/items/sleep-timer.tsx
  src/components/menu/items/timer.tsx
  src/components/menu/menu.tsx
  src/components/modals/shortcuts/shortcuts.tsx
  src/components/toolbox/index.ts
  src/components/toolbox/timer/index.ts
  src/components/toolbox/timer/timer.module.css
  src/components/toolbox/timer/timer.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

refactor: rename components
  src/components/menu/items/countdown-timer.tsx
  src/components/menu/items/index.ts
  src/components/menu/menu.tsx
  src/components/modals/shortcuts/shortcuts.tsx
  src/components/toolbox/countdown-timer/countdown-timer.module.css
  src/components/toolbox/countdown-timer/countdown-timer.tsx
  src/components/toolbox/countdown-timer/index.ts
  src/components/toolbox/index.ts
  src/components/toolbox/timer/index.ts
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: add basic form
  src/components/toolbox/countdown-timer/countdown-timer.tsx
  src/components/toolbox/countdown-timer/form/field/field.module.css
  src/components/toolbox/countdown-timer/form/field/field.tsx
  src/components/toolbox/countdown-timer/form/field/index.ts
  src/components/toolbox/countdown-timer/form/form.module.css
  src/components/toolbox/countdown-timer/form/form.tsx
  src/components/toolbox/countdown-timer/form/index.ts
  src/stores/countdown-timers/index.ts
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: implement countdown timer functionality
  src/components/store-consumer/store-consumer.tsx
  src/components/toolbox/countdown-timer/countdown-timer.tsx
  src/components/toolbox/countdown-timer/timers/index.ts
  src/components/toolbox/countdown-timer/timers/notice/index.ts
  src/components/toolbox/countdown-timer/timers/notice/notice.module.css
  src/components/toolbox/countdown-timer/timers/notice/notice.tsx
  src/components/toolbox/countdown-timer/timers/timer/index.ts
  src/components/toolbox/countdown-timer/timers/timer/reverse-timer/index.ts
  src/components/toolbox/countdown-timer/timers/timer/reverse-timer/reverse-timer.module.css
  src/components/toolbox/countdown-timer/timers/timer/reverse-timer/reverse-timer.tsx
  src/components/toolbox/countdown-timer/timers/timer/timer.module.css
  src/components/toolbox/countdown-timer/timers/timer/timer.tsx
  src/components/toolbox/countdown-timer/timers/timers.module.css
  src/components/toolbox/countdown-timer/timers/timers.tsx
  src/hooks/use-alarm.ts
  src/hooks/use-sound.ts
  src/stores/alarm/index.ts
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

fix: change icon path
  src/components/toolbox/countdown-timer/timers/timer/timer.tsx
Due: eslint --fix, tsc-files --noEmit

fix: change shortcuts
  src/components/menu/items/countdown-timer.tsx
  src/components/menu/items/sleep-timer.tsx
Due: eslint --fix, tsc-files --noEmit

style: change item order
  src/components/menu/menu.tsx
Due: eslint --fix, tsc-files --noEmit

style: add min width
  src/components/toolbox/countdown-timer/timers/timer/timer.module.css
Due: stylelint --fix

style: increase menu width
  src/components/menu/menu.module.css
Due: stylelint --fix

style: add title to timer
  src/components/toolbox/countdown-timer/countdown-timer.module.css
  src/components/toolbox/countdown-timer/countdown-timer.tsx
  src/components/toolbox/countdown-timer/timers/timers.module.css
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

style: change button style
  src/components/toolbox/countdown-timer/form/form.module.css
Due: stylelint --fix

style: change notice
  src/components/toolbox/countdown-timer/timers/notice/notice.module.css
  src/components/toolbox/countdown-timer/timers/notice/notice.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: add persist mode to the modal
  src/components/modal/modal.tsx
  src/components/toolbox/countdown-timer/countdown-timer.tsx
Due: eslint --fix, tsc-files --noEmit

chore: add toolbox copy
  src/components/about.astro
Due: eslint --fix, stylelint --fix

chore: add animation to countdown timer
  src/components/toolbox/countdown-timer/timers/timer/timer.tsx
  src/components/toolbox/countdown-timer/timers/timers.tsx
Due: eslint --fix, tsc-files --noEmit

style: add animation to presets
  src/components/modals/presets/list/list.tsx
Due: eslint --fix, tsc-files --noEmit

style: remove animations
  src/components/modals/presets/list/list.tsx
  src/components/toolbox/countdown-timer/timers/timer/timer.tsx
  src/components/toolbox/countdown-timer/timers/timers.tsx
Due: eslint --fix, tsc-files --noEmit

feat: scroll the new timer into view
  src/components/toolbox/countdown-timer/form/form.tsx
  src/components/toolbox/countdown-timer/timers/timer/timer.tsx
  src/helpers/wait.ts
  src/stores/countdown-timers/index.ts
Due: eslint --fix, tsc-files --noEmit

feat: scroll into view after marking favorite
  src/components/category/category.tsx
  src/components/sound/favorite/favorite.tsx
Due: eslint --fix, tsc-files --noEmit

test: add Vitest and some tests
  package-lock.json
  package.json
  src/helpers/number.ts
  src/helpers/tests/counter.test.ts
  src/helpers/tests/number.test.ts
  vitest.config.ts
Due: eslint --fix, tsc-files --noEmit, prettier --write

test: write tests for random helper
  src/helpers/random.ts
  src/helpers/tests/random.test.ts
Due: eslint --fix, tsc-files --noEmit

test: write more tests
  src/helpers/tests/styles.test.ts
  src/helpers/tests/wait.test.ts
  src/helpers/wait.ts
Due: eslint --fix, tsc-files --noEmit
