Repository remvze/moodist: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, tsc-files --noEmit, prettier --write, stylelint --fix

feat: add close event for modals
  src/components/menu/menu.tsx
  src/components/modal/modal.tsx
  src/components/modals/shared/shared.tsx
  src/components/toolbox/pomodoro/pomodoro.tsx
  src/hooks/use-close-listener.ts
  src/lib/event.ts
  src/lib/modal.ts
Due: eslint --fix, tsc-files --noEmit

refactor: better name
  src/hooks/use-close-listener.ts
  src/lib/modal.ts
Due: eslint --fix, tsc-files --noEmit

fix: reset values on cancel
  src/components/toolbox/pomodoro/setting/setting.tsx
Due: eslint --fix, tsc-files --noEmit

fix: allow empty inputs
  src/components/toolbox/pomodoro/setting/setting.tsx
Due: eslint --fix, tsc-files --noEmit

wip: try fix focus show more/less
  src/components/sound/sound.tsx
  src/components/sounds/sounds.tsx
Due: eslint --fix, tsc-files --noEmit

fix: focus on the first new sound
  src/components/sound/sound.tsx
  src/components/sounds/sounds.tsx
Due: eslint --fix, tsc-files --noEmit

fix: refocus on show more button
  src/components/sounds/sounds.tsx
Due: eslint --fix, tsc-files --noEmit

fix: remove console log
  src/components/toolbox/pomodoro/setting/setting.tsx
Due: eslint --fix, tsc-files --noEmit

refactor: remove extra types
  src/components/menu/menu.tsx
Due: eslint --fix, tsc-files --noEmit

fix: remove auto focus on load
  src/components/sounds/sounds.tsx
Due: eslint --fix, tsc-files --noEmit

fix: replace the animation on button
  src/components/sounds/sounds.tsx
Due: eslint --fix, tsc-files --noEmit

fix: make share hotkey conditional
  src/components/menu/menu.tsx
Due: eslint --fix, tsc-files --noEmit

style: add hover state to button
  src/components/sounds/sounds.module.css
Due: stylelint --fix

feat: add keyboard shortcut for play button
  src/components/buttons/play/play.tsx
  src/components/toolbox/notepad/notepad.tsx
Due: eslint --fix, tsc-files --noEmit

feat: add keyboard shortcut for unselect button
  src/components/buttons/unselect/unselect.tsx
Due: eslint --fix, tsc-files --noEmit

feat: add shortcuts list
  src/components/menu/items/index.ts
  src/components/menu/items/shortcuts.tsx
  src/components/menu/menu.tsx
  src/components/modals/shortcuts/index.ts
  src/components/modals/shortcuts/shortcuts.module.css
  src/components/modals/shortcuts/shortcuts.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: close notepad on escape
  src/components/toolbox/notepad/notepad.tsx
Due: eslint --fix, tsc-files --noEmit

chore: install Storybook
  .eslintrc.json
  .gitignore
  .storybook/main.js
  .storybook/preview.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

chore: write story for button
  .storybook/main.js
  .storybook/main.ts
  .storybook/preview.ts
  CHANGELOG.md
  astro.config.mjs
  src/components/special-button/special-button.stories.tsx
Due: eslint --fix, tsc-files --noEmit, prettier --write

chore: add link to issue
  .storybook/main.ts
Due: eslint --fix, tsc-files --noEmit

chore: add link to story
  src/components/special-button/special-button.stories.tsx
Due: eslint --fix, tsc-files --noEmit

feat: add story for modal
  src/components/modal/modal.stories.tsx
Due: eslint --fix, tsc-files --noEmit

feat: add story for snackbar
  src/components/snackbar/snackbar.stories.tsx
Due: eslint --fix, tsc-files --noEmit

chore: add story for snackbar provider
  src/contexts/stories/snackbar.stories.tsx
Due: eslint --fix, tsc-files --noEmit

chore: add autodocs for button
  src/components/special-button/special-button.stories.tsx
Due: eslint --fix, tsc-files --noEmit

chore: add accessibility addon
  .storybook/main.ts
  package-lock.json
  package.json
Due: eslint --fix, tsc-files --noEmit, prettier --write

feat: add sleep timer
  src/components/generic/button/button.module.css
  src/components/generic/button/button.tsx
  src/components/generic/button/index.ts
  src/components/generic/timer/index.ts
  src/components/generic/timer/timer.module.css
  src/components/generic/timer/timer.tsx
  src/components/menu/items/index.ts
  src/components/menu/items/sleep-timer.tsx
  src/components/menu/menu.tsx
  src/components/modals/shortcuts/shortcuts.tsx
  src/components/modals/sleep-timer/index.ts
  src/components/modals/sleep-timer/sleep-timer.module.css
  src/components/modals/sleep-timer/sleep-timer.tsx
  src/components/toolbox/pomodoro/pomodoro.tsx
  src/components/toolbox/pomodoro/timer/timer.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

fix: take remvze comments into account
  src/components/menu/menu.tsx
  src/components/modals/sleep-timer/sleep-timer.tsx
Due: eslint --fix, tsc-files --noEmit

fix: play sounds when starting timer if not already playing
  src/components/modals/sleep-timer/sleep-timer.tsx
Due: eslint --fix, tsc-files --noEmit

fix: fix button disabled and reset to 0
  src/components/generic/button/button.module.css
  src/components/generic/button/button.tsx
  src/components/modals/sleep-timer/sleep-timer.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

refactor: reorder menu items
  src/components/menu/items/index.ts
  src/components/menu/menu.tsx
Due: eslint --fix, tsc-files --noEmit

refactor: relocate generic components
  src/components/modals/sleep-timer/sleep-timer.tsx
  src/components/timer/index.ts
  src/components/timer/timer.module.css
  src/components/timer/timer.tsx
  src/components/toolbox/generics/button/button.module.css
  src/components/toolbox/generics/button/button.tsx
  src/components/toolbox/generics/button/index.ts
  src/components/toolbox/pomodoro/pomodoro.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: add description for sleep timer
  src/components/modals/sleep-timer/sleep-timer.module.css
  src/components/modals/sleep-timer/sleep-timer.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

style: change button styles
  src/components/modals/sleep-timer/sleep-timer.module.css
  src/components/modals/sleep-timer/sleep-timer.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: add form to sleep timer
  src/components/modals/sleep-timer/sleep-timer.tsx
Due: eslint --fix, tsc-files --noEmit

fix: change default values
  src/components/modals/sleep-timer/sleep-timer.tsx
Due: eslint --fix, tsc-files --noEmit

style: change input styles
  src/components/modals/sleep-timer/sleep-timer.module.css
  src/components/modals/sleep-timer/sleep-timer.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

fix: make inputs full width
  src/components/modals/sleep-timer/sleep-timer.module.css
Due: stylelint --fix

chore: add licenses to README file
  README.md
Due: prettier --write

chore: add tech stack to README file
  README.md
Due: prettier --write

Path conditions:
  eslint --fix: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.astro)
  tsc-files --noEmit: any of: *.{ts,tsx}
  prettier --write: (any of: *.{json,md}) or (any of: *.html)
  stylelint --fix: ((any of: *.css) or (any of: *.astro)) or (any of: *.html)
