Repository remvze/moodist: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, tsc-files --noEmit, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "tsc-files --noEmit"],
  "*.{js,jsx}": "eslint --fix",
  "*.{json,md}": "prettier --write",
  "*.css": "stylelint --fix",
  "*.astro": ["eslint --fix", "stylelint --fix"],
  "*.html": ["prettier --write", "stylelint --fix"]
}

chore(release): 1.3.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat: add donation header
  src/components/donate.astro
  src/components/hero.astro
  src/pages/index.astro
Due: eslint --fix, stylelint --fix

feat: add donate item
  src/components/menu/item/item.module.css
  src/components/menu/item/item.tsx
  src/components/menu/items/donate.tsx
  src/components/menu/items/index.ts
  src/components/menu/menu.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: add donate section
  src/components/categories/categories.tsx
  src/components/categories/donate/donate.module.css
  src/components/categories/donate/donate.tsx
  src/components/categories/donate/index.ts
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

fix: coffee typo
  src/components/menu/items/donate.tsx
Due: eslint --fix, tsc-files --noEmit

fix: complete donation links
  src/components/categories/donate/donate.tsx
  src/components/donate.astro
  src/components/menu/items/donate.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

chore: add donation link to README file
  README.md
Due: prettier --write

chore(release): 1.3.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

style: add polka dot pattern
  src/components/container/container.tsx
  src/components/hero.astro
  src/components/hero/hero.module.css
  src/components/hero/hero.tsx
  src/components/hero/index.ts
  src/pages/index.astro
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

style: decrease opacity
  src/components/hero/hero.module.css
Due: stylelint --fix

style: increase opacity
  src/components/hero/hero.module.css
Due: stylelint --fix

style: increase padding
  src/components/hero/hero.module.css
Due: stylelint --fix

style: decrease dots
  src/components/hero/hero.module.css
Due: stylelint --fix

style: increase dots
  src/components/hero/hero.module.css
Due: stylelint --fix

style: change dividers
  src/components/hero/hero.module.css
Due: stylelint --fix

style: add margin to donate section
  src/components/categories/donate/donate.module.css
Due: stylelint --fix

style: change sound counter
  src/components/hero/hero.module.css
Due: stylelint --fix

style: change pattern
  src/components/hero/hero.module.css
  src/components/hero/hero.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

style: revert pattern
  src/components/hero/hero.module.css
  src/components/hero/hero.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

style: add shine to donation button
  src/components/categories/donate/donate.module.css
Due: stylelint --fix

style: decrease shine
  src/components/categories/donate/donate.module.css
Due: stylelint --fix

style: change the pattern slightly
  src/components/hero/hero.module.css
Due: stylelint --fix

feat: change the copy for features
  src/components/sections/why.astro
Due: eslint --fix, stylelint --fix

feat: change alignments
  src/components/sections/about.astro
  src/components/sections/why.astro
Due: eslint --fix, stylelint --fix

feat: add open-source section
  src/components/source/index.ts
  src/components/source/source.module.css
  src/components/source/source.tsx
  src/pages/index.astro
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

style: lower opacity
  src/components/source/source.module.css
Due: stylelint --fix

style: decrease opacity
  src/components/source/source.module.css
Due: stylelint --fix

fix: add correct count to description
  src/layouts/layout.astro
Due: eslint --fix, stylelint --fix

feat: add special button
  src/components/categories/donate/donate.module.css
  src/components/categories/donate/donate.tsx
  src/components/source/source.module.css
  src/components/source/source.tsx
  src/components/special-button/index.ts
  src/components/special-button/special-button.module.css
  src/components/special-button/special-button.tsx
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

refactor: remove sections
  src/components/sections/about.astro
  src/components/sections/ready.astro
  src/components/sections/why.astro
Due: eslint --fix, stylelint --fix

refactor: move donation to React
  src/components/donate.astro
  src/components/donate/donate.module.css
  src/components/donate/donate.tsx
  src/components/donate/index.ts
  src/pages/index.astro
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

refactor: move footer to React
  src/components/footer.astro
  src/components/footer/footer.module.css
  src/components/footer/footer.tsx
  src/components/footer/index.ts
  src/pages/index.astro
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

feat: add about section
  src/components/about/about.module.css
  src/components/about/about.tsx
  src/components/about/index.ts
  src/pages/index.astro
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

style: decorate paragraphs
  src/components/about/about.module.css
Due: stylelint --fix

style: revert changes
  src/components/about/about.module.css
Due: stylelint --fix

feat: add features section
  src/components/features/features.module.css
  src/components/features/features.tsx
  src/components/features/index.ts
  src/pages/index.astro
Due: eslint --fix, tsc-files --noEmit, stylelint --fix

style: hide about and features
  src/components/source/source.module.css
  src/pages/index.astro
Due: eslint --fix, stylelint --fix
