Repository remvze/moodist: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, tsc-files --noEmit, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix", "tsc-files --noEmit"],
  "*.{js,jsx}": "eslint --fix",
  "*.{json,md}": "prettier --write",
  "*.css": "stylelint --fix",
  "*.astro": ["eslint --fix", "stylelint --fix"],
  "*.html": ["prettier --write", "stylelint --fix"]
}

chore: complete tech stack
  README.md
Due: prettier --write

chore: add divider
  README.md
Due: prettier --write

chore: add emojis
  README.md
Due: prettier --write

chore: add features to README file
  README.md
Due: prettier --write

chore: add npm commands to README file
  README.md
Due: prettier --write

chore: update README file
  README.md
Due: prettier --write

fix: typo in README file
  README.md
Due: prettier --write

chore: add support section
  README.md
Due: prettier --write

chore: add contribution section to README file
  README.md
Due: prettier --write

refactor: rewrite timer logic
  src/components/modals/sleep-timer/sleep-timer.tsx
Due: eslint --fix, tsc-files --noEmit

feat: add basic fading effect
  src/components/modals/sleep-timer/sleep-timer.tsx
  src/hooks/use-sound.ts
  src/lib/event.ts
  src/lib/modal.ts
Due: eslint --fix, tsc-files --noEmit

fix: close all modals
  src/components/menu/menu.tsx
  src/components/toolbox/pomodoro/pomodoro.tsx
Due: eslint --fix, tsc-files --noEmit

refactor: reduce dependency
  src/components/app/app.tsx
  src/components/modals/sleep-timer/sleep-timer.tsx
  src/hooks/use-sound.ts
Due: eslint --fix, tsc-files --noEmit

feat: add lock while fading
  src/components/app/app.tsx
  src/components/buttons/play/play.tsx
  src/components/buttons/unselect/unselect.tsx
  src/components/menu/items/shuffle.tsx
  src/components/sound/range/range.tsx
  src/components/sound/sound.tsx
  src/store/sound/sound.actions.ts
  src/store/sound/sound.state.ts
Due: eslint --fix, tsc-files --noEmit

refactor: add constants
  src/components/app/app.tsx
  src/components/modals/sleep-timer/sleep-timer.tsx
  src/constants/events.ts
  src/hooks/use-sound.ts
  src/lib/modal.ts
Due: eslint --fix, tsc-files --noEmit

chore: add contributing guide
  CONTRIBUTING.md
  README.md
Due: prettier --write

fix: turn off spell check
  src/components/toolbox/notepad/notepad.tsx
Due: eslint --fix, tsc-files --noEmit

feat: add countdown timer button
  src/components/menu/item/item.tsx
  src/components/menu/items/countdown-timer.tsx
  src/components/menu/items/index.ts
  src/components/menu/items/sleep-timer.tsx
  src/components/menu/menu.tsx
Due: eslint --fix, tsc-files --noEmit

feat: add media session (wip)
  src/components/app/app.tsx
  src/hooks/use-media-session.ts
Due: eslint --fix, tsc-files --noEmit

feat: add media session (wip)
  src/hooks/use-media-session.ts
Due: eslint --fix, tsc-files --noEmit

feat: add media session (wip)
  public/sounds/2-seconds-of-silence.mp3
  src/components/app/app.tsx
  src/hooks/use-media-session.ts
Due: eslint --fix, tsc-files --noEmit

fix: remove media session
  src/components/app/app.tsx
  src/hooks/use-media-session.ts
Due: eslint --fix, tsc-files --noEmit

chore: remove extra sound
  public/sounds/2-seconds-of-silence.mp3
Due: none

feat: add media session (wip)
  src/components/app/app.tsx
Due: eslint --fix, tsc-files --noEmit

fix: remove media session
  src/components/app/app.tsx
Due: eslint --fix, tsc-files --noEmit

chore(release): 1.5.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write
